
<div *ngIf="isVisible">


  <div class="col-1" style="margin-top:20px;">  

    <div class="componentcarousel">

      <ul class="componetslides" style="align-items:center;">

        <li *ngFor="let image of showImages1">      

                <img class="img-responsive img-thumbnail" src="{{image.url}}" alt="{{image.title}}">
        </li>

      </ul>

    </div>

  </div>

  <!--<div class="col-md-2">
    <div class="componentcarousel">
      <ul class="componetslides">
        <li *ngFor="let image of showImages2">
          <h2>{{image.title}}</h2>
          <img class="img-responsive img-thumbnail" src="{{image.url}}" alt="{{image.title}}">
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="componentcarousel">
      <ul class="componetslides">
        <li *ngFor="let image of showImages3">
          <h2>{{image.title}}</h2>
          <img class="img-responsive img-thumbnail" src="{{image.url}}" alt="{{image.title}}">
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="componentcarousel">
      <ul class="componetslides">
        <li *ngFor="let image of showImages4">
          <h2>{{image.title}}</h2>
          <img class="img-responsive img-thumbnail" src="{{image.url}}" alt="{{image.title}}">
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="componentcarousel">
      <ul class="componetslides">
        <li *ngFor="let image of showImages5">
          <h2>{{image.title}}</h2>
          <img class="img-responsive img-thumbnail" src="{{image.url}}" alt="{{image.title}}">
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="componentcarousel">
      <ul class="componetslides">
        <li *ngFor="let image of showImages6">
          <h2>{{image.title}}</h2>
          <img class="img-responsive img-thumbnail" src="{{image.url}}" alt="{{image.title}}">
        </li>
      </ul>
    </div>
  </div>-->

</div>
