

<dic class="container col-md-12">

  <div class="panel panel-heading">

        <div class="well textgray">
          Welcome to the Loud Whisperer application where you can find and publish
          anything you want which is associated with our organisation which can help
          yourself or your colegues to do your or thier job more efficiently and more productive.
        </div>

        <div class="textgray">
          <h5>
            This application will provide the following possibilities for you:
          </h5>
          <ul>
            <li>
              Publish articles of any categoty such as annoucement you want to pass, gossip you want to spread, <br />
               software snipeets you want to share with your colegues, software documents, system analysis document and more.
            </li>
            <li>Search for articles of your interest.</li>         
            <li>Find information about any team of our organisation.</li>
            <li>Add/Remove a team by becoming an application user.</li>
            <li>Find any team member personal details</li>
            <li>Add/Remove a team member.</li>
            <li>Inquire information regarding project manager's or project director's associated teams.</li>
            <li>Find author's personal details and all/any author's published articles.</li>
          </ul>
        </div>

  </div>

</dic>

