
        <form  [formGroup]="loginGroup" (submit)="login()" class="container col-md-offset-1">

            <div class="row container" >

                     <div class="col-sm-3 col-sm-offset-1">
                       
                           <div class="row smalltext textgray">
                              <label for="email">Email</label>
                           </div>
                                                    
                            <div class="row form-group smalltext textgray">
                              <input type="email" formControlName="email" id="email" maxlength="40" placeholder="Your email address...." required>
                              <control-messages [control]="loginGroup.controls.email" class="text-danger"></control-messages>
                            </div>                         

                         
                           <div class="row smalltext textgray">
                              <label for="password">Password</label>
                           </div>                         
                                           
                           <div class="row form-group smalltext textgray">
                              <input type="password" formControlName="password" id="password" maxlength="20" placeholder="Your password..." required>
                              <control-messages [control]="loginGroup.controls.password" class="text-danger"></control-messages>
                           </div>                         

                          <div class="row form-group" style="margin-top:40px;">
                              <button class="btn-success" type="submit" [disabled]="!loginGroup.valid">Login</button>
                          </div>

                      </div>



                    <div class="col-sm-7">

                            <div class="row panel panel-heading textgray">
                                  <p><strong>Help</strong></p>
                                  Please provide your credentials to login into the application. Use the coresponding links bellow
                                  to get your forgotten application password or to register yourself.

                            </div>

                          <div class="row" style="margin-top:20px;">
                                  <!--<span style="color:red">TODO sending the passoword functionality</span>-->
                                  <a href="" class="smalltext text-success" style="text-decoration:underline">Forgot your password.</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <a href="" class="smalltext text-success" style="text-decoration:underline" [routerLink]="['/register', {role:'Member'}]">Register</a>
                          </div>

                    </div>

           </div>

    </form>

