
 <div *ngIf="!submitted">
  <form  [formGroup]="registerGroup" (submit)="register()" *ngIf="!submited" class="container col-md-12">

    <div class="container col-md-12">

      <div class="col-md-3 col-md-offset-1">


        <div class="row">
          <label class="textgray smalltext" for="name">First Name</label>
        </div>
        <div class="row form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>           
              <input type="text" formControlName="firstname" id="firstname" maxlength="20" placeholder="Your first name..." required class="form-control">
              <control-messages [control]="registerGroup.controls.firstname"></control-messages>
              </div>
          </div>

        <div class="row">
          <label class="textgray smalltext" for="secondname">Second Name</label>
        </div>
        <div class="row form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" formControlName="secondname" id="secondname" maxlength="40" placeholder="Your second name..." required class="form-control">
            <control-messages [control]="registerGroup.controls.secondname"></control-messages>
          </div>
        </div>

        <div class="row">
          <label class="textgray smalltext" for="email">Email</label>
        </div>
        <div class="row form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" formControlName="email" id="email" maxlength="70" placeholder="Your email account..." required class="form-control">
            <control-messages [control]="registerGroup.controls.email"></control-messages>
          </div>
        </div>

        <div class="row">
          <label class="textgray smalltext" for="password">Password</label>
        </div>
        <div class="row form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" formControlName="password" id="password" maxlength="20" placeholder="Choose your password..." required class="form-control">
              <control-messages [control]="registerGroup.controls.password"></control-messages>
            </div>
          </div>

        <div class="row">
          <label class="textgray smalltext" for="confirmPassword">Confirm Password</label>
        </div>
        <div class="row form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" formControlName="confirmPassword" id="confirmPassword" maxlength="20" placeholder="Confirm your password..." required class="form-control">
              <control-messages [control]="registerGroup.controls.confirmPassword"></control-messages>
            </div>
          </div>

        <div class="row" style="margin-top:40px;">
          <button class="btn-success buttonclass" type="submit" [disabled]="!registerGroup.valid">Register</button>
        </div>
      </div>



      <div class="col-md-7 col-md-offset-1" style="margin-top:40px;">

        <div class="row panel panel-body textgray">
          <p><strong>Help</strong></p>
          Please provide all required information needed (marked in red) to register to the application.
          <ul>
            <li>Your first name can be maximum of 20 characters in length. </li>
            <li>Your second name can be maximum of 40 characters in length. </li>
            <li>Your email account provide will become your username. </li>
            <li>The application will allow email of 70 characters in length".</li>
            <li>The password should be between 6 and 10 character in length and should contain at least one numeric character and one upper case character.</li>
          </ul>
        </div>
      </div>

    </div>

  </form>
</div>


  <div *ngIf="submitted">

          <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="panel panel-heading textgray">
                        An account with the application author's permissions containing your credentials has been created.
                        As an author you will able to add articles and remove your articles from the application.
                        To add an articles select "Add New" button on the All Articles view.
                        Please use the "Login" button to log into the application with your newly created credentials.
                      </div>
                    </div>
            </div>
                   
            <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="smalltext" style="text-align:center">
                      <button class="btn-success  buttonclass" [routerLink]="['/login']">Login</button>
                    </div>
                  </div>
            </div>
  </div>



