<div class="container">

        <form [formGroup]="registerGroup" (submit)="register()">

          <div class="row">

                <div class="col-md-4 col-md-offset-1">

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <label for="name">Name</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <input type="text" formControlName="name" id="name" maxlength="40" placeholder="Your name...." required>
                            <control-messages [control]="registerGroup.controls.name" class="text-danger"></control-messages>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <label for="email">Email</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <input type="email" formControlName="email" id="email" maxlength="40" placeholder="Your email address...." required>
                            <control-messages [control]="registerGroup.controls.email" class="text-danger"></control-messages>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <label for="password">Password</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <input type="password" formControlName="password" id="password" maxlength="20" placeholder="Your password..." required>
                            <control-messages [control]="registerGroup.controls.password" class="text-danger"></control-messages>
                          </div>
                        </div>            

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <label for="confirmpassword">Confirm Password</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group smalltext textgray">
                            <input type="password" formControlName="confirmpassword" id="confirmpassword" maxlength="40" placeholder="Your password again...." required>
                            <control-messages [control]="registerGroup.controls.confirmpassword" class="text-danger"></control-messages>
                          </div>
                        </div>

                      
                        <div class="row" style="margin-top:20px;">                          
                            <button class="btn-success"  type="submit" [disabled]="!registerGroup.valid">Register</button>                       
                        </div>                
                </div>

                

                <div class="col-md-5">
             
                        <div class="row panel panel-body textgray" style="margin-top:20px;">
                                <p><strong>Help</strong></p>
                                Please provide all required information needed (marked in red) to register to the application.
                                <ul>                  
                                        <li>The name should contain your first and second name only and with maximum of 50 characters in length. </li>
                                        <li>Your username will be your email account. </li>                                      
                                        <li>The application will allow email of 70 characters in length".</li>                                      
                                        <li>The password should be between 6 and 10 character in length and should contain at least one numeric character and one upper case character.</li>                       
                                </ul>
                        </div>
     
                </div>

          </div>
        
        </form>


        <div *ngIf="submitted">

                <div class="row">
                          <div class="col-md-5 col-md-offset-1">
                            <div class="panel panel-heading textgray">
                              An account with the application author's permissions containing your credentials has been created.
                              As an author you will able to add articles and remove your articles from the application.
                              To add an articles select "Add New" button on the All Articles view.
                              Please use the "Login" button to log into the application with your newly created credentials.
                            </div>
                          </div>
                 </div>
                   
                  <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                          <div class="smalltext" style="text-align:center">
                            <button [routerLink]="['/login']" class="btn btn-success">Login</button>
                          </div>
                        </div>
                  </div>
        </div>

 </div>





