

<div class="container col-md-12">

  <div class="panel panel-heading">

        <div class="well textgray">
          Welcome to the iTrade application where you can find and publish
          anything you want to trade or to be traded for.
        </div>

        <div class="textgray">
          <h5>
            This application will provide the following possibilities for you:
          </h5>
          <ul>
            <li>Publish a trade of any category s, </li>
            <li>Search for a trade of your interest.</li>         
            <li>Find information about any trade (past and present) you are interested of.</li>
            <li>Search for any type of trade, search for a particular type of a trade or seach for any match for your trade.</li>            
            <li>Find trader's personal details and all/any trader's published articles.</li>
          </ul>
        </div>

  </div>

</div>

