<div class="container col-md-12">

      <!-- personal deatils + address details row -->
          <div class="row">
    
                      <div class="col-md-4" id="personal">

                            <div class="personal  panel panel-heading collapsed col-md-12" data-toggle="collapse" data-target="#collapsePersonal">
                              <span class="glyphicon glyphicon-minus"></span><span class="textlightcoral medium text-uppercase"> Personal Details</span>
                            </div>

                            <div class="panel panel-heading colapse in col-md-12 footerdiv" id="collapsePersonal" style="margin-top:-20px;">

                                  <div *ngIf="!personalAddEdit" class="row col-md-12">

                                        <div class="col-md-12" style="text-align:right;">
                                          <div *ngIf="!personalDetails" class="col-md-3"><a (click)="onAddPersonal()" class="textoker smalltext">Add <i class="glyphicon glyphicon-plus-sign"></i></a></div>
                                          <div *ngIf="personalDetails" class="col-md-4"><a (click)="onTogglePersonal()" class="textoker smalltext">Edit <i class="glyphicon glyphicon-edit"></i></a></div>
                                          <div *ngIf="personalDetails" class="col-md-5"><a (click)="onDeletePersonal()" class="textoker smalltext">Delete <i class="glyphicon glyphicon-trash"></i></a></div>
                                        </div>

                                        <div *ngIf="personalDetails != null">
                                              <div class="smalltextbold col-md-12" style="height:50px; margin-top:20px;">
                                                <div class="col-md-6"> <label for="fname">First Name: </label></div>
                                                <div class="col-md-6"><span class="smalltextbold text-info text-uppercase">{{ personalDetails.firstName }}</span></div>
                                              </div>

                                              <div class="smalltextbold col-md-12" style="height:50px;">
                                                <div class="col-md-6">  <label for="mname">Middle Name: </label></div>
                                                <div class="col-md-6">  <span class="smalltextbold text-info text-uppercase">{{ personalDetails.middleName }}</span></div>
                                              </div>

                                              <div class="smalltextbold col-md-12" style="height:50px;">
                                                <div class="col-md-6">  <label for="lname">Last Name: </label></div>
                                                <div class="col-md-6">  <span class="smalltextbold text-info text-uppercase">{{ personalDetails.lastName }}</span></div>
                                              </div>

                                              <div class="smalltextbold col-md-12" style="height:50px;">
                                                <div class="col-md-6"> <label for="lname">Date Of Birth: </label></div>
                                                <div class="col-md-6"> <span class="smalltextbold text-info text-uppercase">{{ personalDetails.dateOfBirth | date }}</span></div>
                                              </div>
                                        </div>

                                </div>

                                  <div *ngIf="personalAddEdit" class="row col-md-12">

                                        <form novalidate [formGroup]="personalForm" (submit)="onAddUpdatePersonal()">

                                          <div class="form-group smalltext col-md-12" style="height:70px; margin-top:20px;">                                          
                                              <label for="fname">First Name:</label>
                                              <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input type="text" formControlName="fname" id="fname" name="fname" required class="form-control smalltext" style="background-color:moccasin" />
                                              </div>                                          
                                               <control-messages [control]="personalForm.controls.fname"></control-messages>
                                          </div>

                                          <div class="form-group smalltext col-md-12" style="height:70px;">                                           
                                              <label for="mname">Middle Name:</label>
                                              <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input type="text" formControlName="mname" id="mname" name="mname" class="form-control smalltext" style="background-color:moccasin" />
                                              </div>
                                              <control-messages [control]="personalForm.controls.mname"></control-messages>                                          
                                          </div>

                                          <div class="form-group smalltext col-md-12" style="height:70px;">                                            
                                              <label for="lname">Last Name:</label>
                                              <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input type="text" formControlName="lname" id="lname" name="lname" class="form-control smalltext" style="background-color:moccasin" />
                                              </div>
                                              <control-messages [control]="personalForm.controls.lname"></control-messages>                                            
                                          </div>

                                          <div class="form-group smalltext col-md-12" style="height:70px;">                                           
                                              <label for="dbirth">Date Of Birth:</label>
                                              <div class="input-group">
                                                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>                                               
                                                  <my-date-picker name="dbirth" formControlName="dbirth"
                                                                  visibleMonth.monthTxt=""
                                                                  #dbirth
                                                                  placeholder="Select a date..."
                                                                  [options]="datePickerOptions"
                                                                  (dateChanged)="onDateChanged($event)"
                                                                  [locale]="currentLocale"
                                                                  [selDate]="selectDate">
                                                  </my-date-picker>
                                                </div>
                                              <control-messages [control]="personalForm.controls.dbirth"></control-messages>                                           
                                          </div>

                                          <div class="col-md-12 panel panel-heading" style="height:70px;margin-top:10px;">
                                            <div class="col-md-6">
                                              <button  id="personalcancel" class="btn btn-warning text-uppercase smalltext" style="width:auto; height:30px;" (click)="onTogglePersonal()">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                                              </button>
                                            </div>

                                            <div class="col-md-6">
                                              <button  id="personalsave" class="btn btn-success text-uppercase smalltext" type="submit" [disabled]="!personalForm.valid" style="width:auto; height:30px;">
                                                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                                                Save
                                              </button>
                                            </div>
                                          </div>

                                        </form>

                                    </div>

                              </div>

                    </div>


                      <div class="col-md-7 col-md-offset-1" id="address">

                            <div>
                              <div class="address panel panel-heading collapsed col-md-6" data-toggle="collapse" data-target="#collapseAddress">
                                <span class="glyphicon glyphicon-minus"></span><span class="textlightcoral medium text-uppercase"> Address Details</span>
                              </div>                              
                              <div class="panel panel-heading smalltext col-md-6" style="text-align:right;z-index:1000;">     
                                Select address:                                                                                                                 
                                  <select id="atype" name="atype" class="smalltext" style="background-color:moccasin;" (change)="onViewAddressTypeChange($event)">
                                    <option></option>
                                    <option *ngFor="let atype of availableaddtypes" [ngValue]="atype">
                                      {{ atype.addressType }}
                                    </option>
                                  </select>                               
                              </div>
                            </div>
                                                                                
                            <div class="panel panel-heading colapse in col-md-12 footerdiv" id="collapseAddress" style="margin-top:-20px;">

                              <div *ngIf="!addressEdit" class="row col-md-12">

                                <div class="col-md-12" style="text-align:right;">
                                  <div *ngIf="availableAddressesCount < 3" class="col-md-4"><a (click)="onAddressAdd()" class="textoker smalltext">Add <i class="glyphicon glyphicon-plus-sign"></i></a></div>
                                  <div *ngIf="availableAddressesCount >1"  class="col-md-4"><a (click)="onToggleAddress()" class="textoker smalltext">Edit <i class="glyphicon glyphicon-edit"></i></a></div>                                  
                                  <div *ngIf="availableAddressesCount >1"  class="col-md-4"><a (click)="onAddressDelete()" class="textoker smalltext">Delete <i class="glyphicon glyphicon-trash"></i></a></div>
                                </div>

                                <div class="col-md-12">

                                  <div class="col-md-6 col-md-offset-1">

                                    <div class="smalltextbold col-md-12" style="height:50px;margin-top:20px;">
                                       <label for="preferredtype">Preferred: </label>
                                       <span class="smalltextbold text-info text-uppercase"> {{ addressInView.preferredFlag }}</span>
                                    </div>

                                    <div class="smalltextbold col-md-12" style="height:50px;">
                                      <label for="addresstype">Address Type: </label>
                                      <span class="smalltextbold text-info text-uppercase"> {{ addressInView.addressType }}</span>
                                    </div>

                                    <div class="smalltextbold col-md-12" style="height:50px;">
                                      <label for="number">Street Number: </label>
                                       <span class="smalltextbold text-info text-uppercase"> {{ addressInView.number }}</span>
                                    </div>            
                                    
                                    <div *ngIf="addressInView.unit !=''" class="smalltextbold col-md-12" style="height:50px;">
                                      <label for="number">Unit Number: </label>
                                      <span class="smalltextbold text-info text-uppercase"> {{ addressInView.unit }}</span>
                                    </div>                               

                                    <div class="smalltextbold col-md-12" style="height:50px;">
                                      <label for="street">Street Name: </label>
                                      <span class="smalltextbold text-info text-uppercase"> {{ addressInView.street }}</span>
                                    </div>

                               

                                  </div>

                                  <div class="col-md-5">

                                    <div class="smalltextbold col-md-12" style="height:50px;margin-top:20px;">
                                        <label for="suburb">Suburb: </label>
                                        <span class="smalltextbold text-info text-uppercase"> {{ addressInView.suburb }}</span>
                                    </div>

                                    <div class="smalltextbold col-md-12" style="height:50px;">
                                      <label for="state">State: </label>
                                      <span class="smalltextbold text-info text-uppercase"> {{ addressInView.state }}</span>
                                    </div>

                                    <div class="smalltextbold col-md-12" style="height:50px;">
                                     <label for="city">City: </label>
                                     <span class="smalltextbold text-info text-uppercase"> {{ addressInView.city }}</span>
                                    </div>

                                    <div class="smalltextbold col-md-12" style="height:50px;">
                                      <label for="postcode">Postcode: </label>
                                      <span class="smalltextbold text-info text-uppercase"> {{ addressInView.postcode }}</span>
                                    </div>

                                  </div>

                                </div>

                              </div>

                              <div *ngIf="addressEdit" class="row col-md-12">

                                <form novalidate [formGroup]="addressForm" (submit) ="onUpdateAddress()">

                                  <div class="col-md-12">

                                    <div class="col-md-6">

                                      <div class="form-group smalltext col-md-12" style="height:70px; margin-top:20px;">                                      
                                          <label for="preferredtype">Preferred Address:</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-" aria-hidden="true"></i></span>
                                            <select formControlName="preferredtype" id="preferredtype" name="preferredtype" class="form-control smalltext" style="background-color:moccasin;" (ngModelChange)="onChangePreferredType($event)">
                                              <option></option>
                                              <option *ngFor="let preferredtype of preferredtypes" [ngValue]="preferredtype">
                                                {{ preferredtype.value }}
                                              </option>
                                            </select>
                                          </div>                                        
                                        <control-messages [control]="addressForm.controls.preferredtype"></control-messages>
                                      </div>

                                      <div class="form-group smalltext col-md-12" style="height:70px;">                                     
                                          <label for="addresstype">Address Type:</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-" aria-hidden="true"></i></span>
                                            <select formControlName="addresstype" id="addresstype" name="addresstype" class="form-control smalltext" style="background-color:moccasin;" (ngModelChange)="onChangeAddressType($event)">
                                              <option></option>
                                              <option *ngFor="let addtype of addresstypes" [ngValue]="addtype">
                                                {{ addtype.addressType }}
                                              </option>
                                            </select>
                                          </div>
                                          <control-messages [control]="addressForm.controls.addresstype"></control-messages>                                        
                                      </div>         
                                                                                                    
                                      <div class="form-group smalltext col-md-12" style="height:70px;">                                         
                                          <label for="number">Street Number</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-home" aria-hidden="true"></i></span>
                                            <input type="text" formControlName="number" id="number" name="number" class="form-control smalltext" style="background-color:moccasin" />
                                          </div>                                          
                                        <control-messages [control]="addressForm.controls.number"></control-messages>
                                      </div>

                                      <div class="form-group smalltext col-md-12" style="height:70px;">                                         
                                          <label for="unit">Unit Number</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-home" aria-hidden="true"></i></span>
                                            <input type="text" formControlName="unit" id="unit" name="unit" class="form-control smalltext" style="background-color:moccasin" />
                                          </div>
                                          <control-messages [control]="addressForm.controls.unit"></control-messages>                                          
                                      </div>
                                    
                                      <div class="form-group smalltext col-md-12" style="height:70px;">                                       
                                          <label for="street">Street</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-road" aria-hidden="true"></i></span>
                                            <input type="text" formControlName="street" id="street" name="street" class="form-control smalltext" style="background-color:moccasin" />
                                          </div>
                                          <control-messages [control]="addressForm.controls.street"></control-messages>                                       
                                      </div>         
                                                                
                                    </div>

                                    <div class="col-md-6">

                                      <div class="form-group smalltext col-md-12" style="height:70px;margin-top:20px;">                                      
                                          <label for="suburb">Suburb</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-tower" aria-hidden="true"></i></span>
                                            <input type="text" formControlName="suburb" id="suburb" name="suburb" class="form-control smalltext" style="background-color:moccasin" />
                                          </div>
                                          <control-messages [control]="addressForm.controls.suburb"></control-messages>                                        
                                      </div>

                                      <div class="form-group smalltext col-md-12" style="height:70px;">                                       
                                          <label for="state">State</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></i></span>
                                            <select formControlName="state" id="state" name="state" class="form-control smalltext" style="background-color:moccasin;" (ngModelChange)="onStateChange($event)">
                                              <option></option>
                                              <option *ngFor="let state of states" [ngValue]="state">
                                                {{ state.name }}
                                              </option>
                                            </select>
                                          </div>
                                          <control-messages [control]="addressForm.controls.state"></control-messages>                                      
                                      </div>

                                      <div class="form-group smalltext col-md-12" style="height:70px;">                                       
                                          <label for="city">City</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-object-align-left" aria-hidden="true"></i></span>
                                            <select formControlName="city" id="city" name="city" class="form-control smalltext" style="background-color:moccasin;" (ngModelChange)="onCityChange($event)">
                                              <option></option>
                                              <option *ngFor="let city of cities" [ngValue]="city">
                                                {{ city.name }}
                                              </option>
                                            </select>
                                          </div>
                                          <control-messages [control]="addressForm.controls.city"></control-messages>                                     
                                      </div>

                                      <div class="form-group smalltext col-md-12" style="height:70px;">                                     
                                          <label for="postcode">Postcode</label>
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                                            <select formControlName="postcode" id="postcode" name="postcode" class="form-control smalltext" style="background-color:moccasin;" (ngModelChange)="onPostcodeChange($event)">
                                              <option></option>
                                              <option *ngFor="let postcode of postcodes" [ngValue]="postcode">
                                                {{ postcode.number }}
                                              </option>
                                            </select>
                                          </div>
                                          <control-messages [control]="addressForm.controls.postcode"></control-messages>                                     
                                      </div>

                                      <div class="col-md-12 panel panel-heading" style="height:70px;margin-top:10px;">
                                        <div class="col-md-6">
                                          <button id="addresscancel" class="btn btn-warning text-capitalize smalltext" style="width:auto; height:30px;" (click)="onToggleAddress()">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                                          </button>
                                        </div>

                                        <div class="col-md-6">
                                          <button  id="addresssave" class="btn btn-success text-capitalize smalltext" type="submit" [disabled]="!addressForm.valid" style="width:auto; height:30px;">
                                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                                            Save
                                          </button>
                                        </div>
                                      </div>

                                    </div>

                                  </div>

                                </form>
                              </div>

                            </div>
                    </div>

            </div>

            <div class="row">


            </div>
         
  </div>

