<div class="container col-md-12">

  <div class="row  col-md-12">

       <div  class="row col-md-9">        

              <div class="panel panel-heading">

                     <span class="correspondence panel-title collapsed  smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseCorrespondence">
                          <span class="glyphicon glyphicon-minus"></span> 
                           Latest Correspondence 
                           <span *ngIf="!hasCorres" class="textoker">- The system can not find any new correspondence for you!</span>  
                     </span>

                    <!-- Collapsable Correspondence -->
                     <div *ngIf ="hasCorres" id="collapseCorrespondence" class="collapse in" >

                           <div class="panel-heading">

                                <!-- Table-->
                                 <div class="table-responsive">

                                 <table class="table table-bordered table-hover table-condensed col-md-8">

                                   <!-- Table Header -->
                                   <thead>
                                     <tr>
                                       <th class="col-md-1" style="background-color:#FF223A3A">                                        
                                           <span class="textgray smalltext  text-uppercase" style="width:auto">Subject </span>                                        
                                       </th>

                                       <th class="col-md-2" style="background-color:#FF223A3A">                                         
                                           <span class="textgray smalltext text-uppercase" style="width:auto">Message</span>                                        
                                       </th>

                                       <th class="col-md-2" style="background-color:#FF223A3A">                                     
                                           <span class="textgray  smalltext  text-uppercase" style="width:auto">Sent</span>                                       
                                       </th>                                 

                                       <th class="col-md-2" style="background-color:#FF223A3A">                                         
                                           <span class="textgray  smalltext  text-uppercase" style="width:auto">Sender</span>                                        
                                       </th>

                                       <th class="col-md-1" style="background-color:#FF223A3A">                                         
                                           <span class="textgray  smalltext  text-uppercase" style="width:auto">Status</span>                                     
                                       </th>
                                     </tr>
                                   </thead>

                                   <!-- Table Rows -->
                                   <tr *ngFor="let coress of corrRows |  paginate:configCorr ">

                                     <td class="col-md-1 smalltext text-capitalize textgray">{{ coress.subject  }}</td>

                                      <td class="col-md-2">
                                       <a [routerLink]="['/correspondencedetails']" [queryParams]="{id: coress.id}" class="smalltext text-uppercase textlightcoral restriction"><i>{{ coress.message  }}</i></a>
                                     </td>

                                     <td class="col-md-2 smalltext text-capitalize textgray">{{ coress.dateSent | date }}</td>

                                     <td class="col-md-2">
                                       <a [routerLink]="['/traderdetails']" [queryParams]="{id: coress.traderIdSender}" class="smalltext text-uppercase textlightcoral"><i>{{ coress.sender  }}</i></a>
                                     </td>        

                                     <td class="col-md-1 smalltext text-capitalize textgray">{{ coress.status }}</td>    
                                                                                   
                                   </tr>

                                 </table>

                               </div>

                                 <!-- Table pagination -->
                                 <div class="row col-md-12">
                                     <div class="col-md-5">
                                          <pagination-controls id="paginationCorr" *ngIf="configCorr.paging" ngDefaultControl
                                              (pageChange)="onPageChangeCorr($event)"
                                              maxSize="5"
                                              directionLinks="false"
                                              autoHide="true"
                                              previousLabel="Previous"
                                              nextLabel="Next"
                                              screenReaderPaginationLabel="Pagination"
                                              screenReaderPageLabel="pageMes"
                                              screenReaderCurrentLabel="You're on page"
                                              [(ngModel)]="configCorr.currentPage"
                                              (numPages)="numPagesCorr = $event"
                                              [maxSize]="maxSizeCorr">
                                            </pagination-controls>
                                      </div>
                                </div>
                            
                                 <br/>
                         </div>

                    </div>


              </div>
            

              <div class="panel panel-heading">

                       <span class="status panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseTrades">
                          <span class="glyphicon glyphicon-minus"></span>
                          Open Trades <span *ngIf="!hasTrades" class="textoker">- The system can not find any open trades under you account!</span>                       
                      </span>

                      <!-- Collapsable Trade Status -->                   
                      <div *ngIf="hasTrades" id="collapseTrades" class="collapse in">

                              <div class="panel-heading">

                                  <!-- Table-->
                                   <div class="table-responsive">

                                    <table class="table table-bordered table-hover table-condensed col-md-9">

                                      <!-- Table Header -->
                                      <thead>
                                        <tr>

                                          <th class="col-md-2" style="background-color:#FF223A3A">                                         
                                              <span class="textgray smalltext  text-uppercase" style="width:auto">Trading </span>                                        
                                          </th>

                                          <th class="col-md-2" style="background-color:#FF223A3A">                                          
                                              <span class="textgray smalltext text-uppercase" style="width:auto">For</span>                                         
                                          </th>

                                          <th class="col-md-2" style="background-color:#FF223A3A">                                           
                                              <span class="textgray  smalltext  text-uppercase" style="width:auto">Published </span>
                                        

                                          </th>
                                          <th class="col-md-2" style="background-color:#FF223A3A">                                          
                                              <span class="textgray  smalltext  text-uppercase" style="width:auto">Trade Status</span>                                           
                                          </th>
                                        </tr>
                                      </thead>

                                      <!-- Table Rows-->
                                      <tr *ngFor="let trade of rows |  paginate:config ">

                                        <td class="col-md-2" style="vertical-align:middle">
                                          <a [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}" class="smalltext text-uppercase textlightcoral"><i>{{ trade.tradeObjectDescription  }}</i></a>
                                        </td>

                                        <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle"> {{ trade.tradeForObjectsDescription  }}</td>


                                        <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle">{{ trade.tradeDatePublished | date }}</td>

                                        <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle">{{ trade.tradeStatus }}</td>

                                      </tr>

                                    </table>

                                  </div>

                                   <!-- Table pagination -->
                                   <div class="row col-md-12">
                                      <div class="col-md-5">
                                        <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl
                                                (pageChange)="onPageChange($event)"
                                                maxSize="5"
                                                directionLinks="false"
                                                autoHide="true"
                                                previousLabel="Previous"
                                                nextLabel="Next"
                                                screenReaderPaginationLabel="Pagination"
                                                screenReaderPageLabel="page"
                                                screenReaderCurrentLabel="You're on page"
                                                [(ngModel)]="config.currentPage"
                                                (numPages)="numPages = $event"
                                                [maxSize]="maxSize">
                                        </pagination-controls>
                                      </div>
                                    </div>

                                   <br />                            

                    </div>
                  </div>
             </div>                                
     </div>



       <div class="col-md-2  col-md-offset-1">
             <!-- you can not manage trades if there are no any -->
             <div *ngIf="hasTrades">
               <div class="row">
                 <div class="panel panel-heading">
                   <a href="" [routerLink]="['/mytradeslist']"><span class="smalltext text-uppercase textlightcoral"><i>My Trades</i></span></a>
                 </div>
               </div>
             </div>

           <div class="row">
             <div class="panel panel-heading"><a href="" [routerLink]="['/correspondenceall']"><span class="smalltext text-uppercase textlightcoral"><i>My Correspondence</i></span></a> </div>
           </div>

            <div class="row">
              <div class="panel panel-heading"><a href="" [routerLink]="['/mytraderaccount']"><span class="smalltext text-uppercase textlightcoral"><i>My Account</i></span></a> </div>
            </div>

            <div class="row">
              <div class="panel panel-heading"><a href="" [routerLink]="['/personaldetails']"><span class="smalltext text-uppercase textlightcoral"><i>My  Personal Details</i></span></a> </div>
          </div>
          
         <div class="row">
           <div class="panel panel-heading"><a href="" [routerLink]="['/contactdetails']"><span class="smalltext text-uppercase textlightcoral"><i>My Contact Details</i></span></a> </div>
         </div>         

         <div class="row">
           <div class="panel panel-heading"><a href="" [routerLink]="['/securitydetails']"><span class="smalltext text-uppercase textlightcoral"><i>My Security Details</i></span></a> </div>
         </div>       
         <div class="row">
           <div class="panel panel-heading"> <a href="" [routerLink]="['/addtrade']"><span class="smalltext text-uppercase textlightcoral"><i>Add New Trade</i></span></a> </div>
         </div>
                            
       
    </div>

  </div>

</div>



    