<div class="container col-md-12">

  <div class="row">

     <div class="col-md-7">

       <div  class="row">
         <div class="panel panel-heading">My Corresepondence</div>
       </div>

       <div class="row">
         <div class="panel panel-heading"><a href="" [routerLink]="['/mytradeslist']"><span class="textgray"><i>My Trades Status</i></span></a></div>
       </div>
     </div>

    <div class="col-md-4 col-md-offset-1">

      <div class="row">
        <div class="panel panel-heading"><a href="" [routerLink]="['/mytraderaccount']"><span class="textgray"><i>My Account</i></span></a> </div>
      </div>

      <div class="row">
        <div class="panel panel-heading"><a href="" [routerLink]="['/personaldetails']"><span class="textgray"><i>My  Personal Details</i></span></a> </div>
    </div>

      <div class="row">
        <div class="panel panel-heading"><a href="" [routerLink]="['/contactdetails']"><span class="textgray"><i>My Contact Details</i></span></a> </div>
        </div>

      <div class="row">
        <div class="panel panel-heading"><a href="" [routerLink]="['/securitydetails']"><span class="textgray"><i>My Security Details</i></span></a> </div>
        </div>
    </div>

  </div>
</div>