<div class="container col-md-12">

  <div class="row  col-md-12">

       <div  class="row col-md-9">        

              <!-- CORRESPONDENCE-->
              <div class="panel panel-heading footerdiv">

                     <span class="correspondence panel-title collapsed  smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseCorrespondence">
                          <span class="glyphicon glyphicon-minus"></span> 
                           Latest Correspondence <span *ngIf="!hasCorres" class="textoker">- The system can not find any new correspondence for you!</span>  
                     </span>

                    <!-- Collapsable Correspondence -->
                     <div *ngIf ="hasCorres" id="collapseCorrespondence" class="collapse in panel-heading" >
                          

                                <!-- Table-->
                                 <div class="table-responsive">

                                 <table class="table table-bordered table-hover table-condensed col-md-8">

                                   <!-- Table Header -->
                                   <thead>
                                     <tr>
                                     


                                       <th class="col-md-2" style="background-color:#FF223A3A">                                         
                                           <span class="textgray smalltext text-uppercase" style="width:auto">Message</span>                                        
                                       </th>

                                       <th class="col-md-2" style="background-color:#FF223A3A">
                                         <span class="textgray  smalltext  text-uppercase" style="width:auto">From</span>
                                       </th>

                                       <th class="col-md-1" style="background-color:#FF223A3A">
                                         <span class="textgray smalltext  text-uppercase" style="width:auto">About </span>
                                       </th>

                                       <th class="col-md-2" style="background-color:#FF223A3A">                                     
                                           <span class="textgray  smalltext  text-uppercase" style="width:auto">Received On</span>                                       
                                       </th>                                 

                                       <th class="col-md-1" style="background-color:#FF223A3A">                                         
                                           <span class="textgray  smalltext  text-uppercase" style="width:auto">Status</span>                                     
                                       </th>

                                      
                                     </tr>
                                   </thead>

                                   <!-- Table Rows -->
                                   <tr *ngFor="let corres of rowsCorr |  paginate:configCorr ">

                                    

                                      <td class="col-md-2">
                                       <a [routerLink]="['/correspondencedetails']" [queryParams]="{id: corres.id}" class="smalltext text-uppercase textlightcoral restriction"><i>{{ corres.message  }}</i></a>
                                     </td>

                                     <td class="col-md-2">
                                       <a [routerLink]="['/traderdetails']" [queryParams]="{id: corres.traderIdSender}" class="smalltext text-uppercase textlightcoral"><i>{{ corres.sender  }}</i></a>
                                     </td>        

                                     <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.subject  }}</td>

                                     <td class="col-md-2 smalltextbold text-capitalize textgray">{{ corres.dateSent | date:'medium' }}</td>
                                   
                                     <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.statusReceiver }}</td>    
                                                                                   
                                   </tr>

                                 </table>

                               </div>

                                 <!-- Table pagination -->
                                 <div class="row col-md-12">
                                     <div class="col-md-5">
                                          <pagination-controls id="paginationCorr" *ngIf="configCorr.paging" ngDefaultControl
                                              (pageChange)="onPageChangeCorr($event)"
                                              maxSize="5"
                                              directionLinks="true"
                                              autoHide="true"
                                              previousLabel="Previous"
                                              nextLabel="Next"
                                              screenReaderPaginationLabel="Pagination"
                                              screenReaderPageLabel="pageMes"
                                              screenReaderCurrentLabel="You're on page"
                                              [(ngModel)]="configCorr.currentPage"
                                              (numPages)="numPagesCorr = $event"
                                              [maxSize]="maxSizeCorr">
                                            </pagination-controls>
                                      </div>
                                </div>
                            
                                 <br/>
                      
                    </div>


              </div>
            

              
            <!-- TRADES -->
              <div class="panel panel-heading footerdiv">

                       <span class="status panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseTrades">
                          <span class="glyphicon glyphicon-minus"></span>
                          Open Trades <span *ngIf="!hasTrades" class="textoker">- The system can not find any open trades under you account!</span>                       
                      </span>

                      <!-- Collapsable Trade Status -->                   
                      <div *ngIf="hasTrades" id="collapseTrades" class="collapse in  panel-heading">
                        
                                  <!-- Table-->
                                   <div class="table-responsive">

                                    <table class="table table-bordered table-hover table-condensed col-md-9">

                                      <!-- Table Header -->
                                      <thead>
                                        <tr>

                                          <th class="col-md-2" style="background-color:#FF223A3A">                                         
                                              <span class="textgray smalltext  text-uppercase" style="width:auto">Trading </span>                                        
                                          </th>

                                          <th class="col-md-2" style="background-color:#FF223A3A">                                          
                                              <span class="textgray smalltext text-uppercase" style="width:auto">For</span>                                         
                                          </th>

                                          <th class="col-md-2" style="background-color:#FF223A3A">                                           
                                              <span class="textgray  smalltext  text-uppercase" style="width:auto">Published </span>
                                        

                                          </th>
                                          <th class="col-md-2" style="background-color:#FF223A3A">                                          
                                              <span class="textgray  smalltext  text-uppercase" style="width:auto">Trade Status</span>                                           
                                          </th>
                                        </tr>
                                      </thead>

                                      <!-- Table Rows-->
                                      <tr *ngFor="let trade of rows |  paginate:config ">

                                        <td class="col-md-2" style="vertical-align:middle">
                                          <a [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}" class="smalltext text-uppercase textlightcoral"><i>{{ trade.name  }}</i></a>
                                        </td>

                                        <td class="col-md-2 smalltextbold text-capitalize textgray" style="vertical-align:middle"> {{ trade.tradeFor  }}</td>

                                        <td class="col-md-2 smalltextbold text-capitalize textgray" style="vertical-align:middle">{{ trade.datePublished | date:'medium'  }}</td>

                                        <td class="col-md-2 smalltextbold text-capitalize textgray" style="vertical-align:middle">{{ trade.status }}</td>

                                      </tr>

                                    </table>
                                  </div>

                                   <!-- Table pagination -->
                                   <div class="row col-md-12">
                                      <div class="col-md-5">
                                        <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl
                                                (pageChange)="onPageChange($event)"
                                                maxSize="5"
                                                directionLinks="true"
                                                autoHide="true"
                                                previousLabel="Previous"
                                                nextLabel="Next"
                                                screenReaderPaginationLabel="Pagination"
                                                screenReaderPageLabel="page"
                                                screenReaderCurrentLabel="You're on page"
                                                [(ngModel)]="config.currentPage"
                                                (numPages)="numPages = $event"
                                                [maxSize]="maxSize">
                                        </pagination-controls>
                                      </div>
                                    </div>

                                   <br />                            
                       
                  </div>
             </div>                                
     </div>


      <!-- MENU -->
       <div class="col-md-2  col-md-offset-1">
             <!-- you can not manage trades if there are no any -->
             <div *ngIf="hasTrades">
               <div class="row">
                 <div class="panel panel-heading">
                   <a href="" [routerLink]="['/mytradeslist']"><span class="smalltext text-uppercase textlightcoral"><i>Manage Trades</i></span></a>
                 </div>
               </div>
             </div>

           <div class="row">
             <div class="panel panel-heading"><a href="" [routerLink]="['/correspondencelist']"><span class="smalltext text-uppercase textlightcoral"><i>Correspondence</i></span></a> </div>
           </div>         

          <div class="row">
             <div class="panel panel-heading"><a href="" [routerLink]="['/personaldetails']"><span class="smalltext text-uppercase textlightcoral"><i>Personal Details</i></span></a> </div>
          </div>
          
         <div class="row">
           <div class="panel panel-heading"><a href="" [routerLink]="['/contactdetails']"><span class="smalltext text-uppercase textlightcoral"><i>Contact Details</i></span></a> </div>
         </div>         

         <div class="row">
           <div class="panel panel-heading"><a href="" [routerLink]="['/logindetails']"><span class="smalltext text-uppercase textlightcoral"><i>Login Details</i></span></a> </div>
         </div>       

         <div class="row">

           <div *ngIf="hasPersonal" class="panel panel-heading"> 
                <a  href="" [routerLink]="['/addtrade']"><span class="smalltext text-uppercase textlightcoral"><i>Post a Trade</i></span></a> 
           </div>
           <div *ngIf="!hasPersonal" class="panel panel-heading">
             <a href="#posttrade" data-toggle="modal" ><span class="smalltext text-uppercase textlightcoral"><i>Post a Trade</i></span></a>       
           </div>
         </div>
                            
       
    </div>

  </div>

</div>


<my-spinner [isRunning]="isRequesting"></my-spinner>


<!-- POST MODAL -->
 <div class="modal fade" id="posttrade" tabindex="-1" role="dialog" aria-labelledby="postttrade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Post Trade Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>You will need to provide your personal details before posting a trade. Do you want to go your account?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" [routerLink]="['/personaldetails']" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>