
    <div class="container col-md-12">    

              <!-- the breadcrumb and sorting and filter in allc columns section-->
             <div class="row" style="vertical-align:middle;margin-top:-15px;">

                   <!-- number breadcrumb -->
                   <div class="col-md-4 panel panel-heading smalltextbold" style="height:55px;">
                     <div style="margin-top:8px;">
                        <span class="smalltextbold" >Displaying <span class="text-info smalltextbold">{{ fromNumber }} to {{ toNumber }} </span> of <span class="text-info smalltextbold">{{ totalNumberOfRecords }}</span> records </span>                    
                     </div>
                   </div>
                  

                 <!-- filter in all coloumns -->
                   <div class="col-md-4 panel panel-heading" style="height:55px;">                     
                       <div class="col-md-12" style="margin-top:2px;">                         
                         <input *ngIf="config.filtering" placeholder="Filter in all columns" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)" class="form-control smalltext" style="height:30px;" />
                       </div>                                        
                   </div>


                    <!-- sort -->
                   <div class="col-md-4 panel panel-heading" style="height:55px;">

                         <div class="col-md-6 smalltextbold" style="margin-top:8px;">
                                 <span> Sorted by: <span class="text-info">{{ selectedItem }}</span></span>
                                 <span *ngIf="isAsc" class="glyphicon glyphicon-chevron-down"></span>
                                 <span *ngIf="!isAsc" class="glyphicon glyphicon-chevron-up"></span>
                         </div>       

                         <div class="col-md-6" style="margin-top:-2px;" >
                   
                             <div class="dropdown">
                                 <button class="btn btn-primary dropdown-toggle smalltext" id="menu1" type="button" data-toggle="dropdown" style="width:150px;text-align:justify;">Sort By
                                   <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu smalltextbold" role="menu" aria-labelledby="menu1">
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('name')">Name</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('tradeFor')">Trade For</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('datePublished')">Published</a></li>         
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('traderFullName')">Trader</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('categoryDescription')">Category</a></li>       
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('place')">Place</a></li>       
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('postcodeNumber')">Postcode</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('state')">State</a></li>                                   
                                 </ul>
                               </div>

                           </div>            

                     </div>
             
            </div>


             <!-- filter string-->
             <div class="row panel panel-heading" style="margin-top:-10px;">                                           
                 <span  class="smalltextbold">Selected filters : <span class="textlightcoral" id="filterstring"> {{ filters }}</span></span>                                 
           </div>


             <!-- filters and the table -->
             <div class="row" style="margin-top:-10px;">

                 <!-- filters -->
                 <div class="col-md-2">
            
                        <!-- th efollow-scroll is the is used to create the menu to be fixed when scrolling-->
                         <div id="follow-scroll" class="row panel panel-heading wrapper" style="z-index:1000;">  

                                  <nav id="sidebar" >

                                         <!-- Sidebar Header -->
                                         <div class="sidebar-header">
                                           <a href="#filters" data-toggle="collapse" class="gliphfil smalltextbold textgray" aria-expanded="false">
                                             Filters  <span class="glyphicon glyphicon-chevron-up"></span>
                                           </a>
                                         </div>

                                        <div id="filters" class="colapse in">
                                          <br />
                                          <div class="row smalltext">
                                            <div class="col-md-12">
                                              <span>Category:</span>
                                              <select id="category" name="category" class="form-control" style="background-color:moccasin;" (change)="CategoryClicked($event)">
                                                <option></option>
                                                <option *ngFor="let category of categories" [ngValue]="category.categoryId">
                                                  {{ category.categoryDescription }}
                                                </option>
                                              </select>
                                            </div>
                                          </div>

                                          <br />
                                          <div class="row smalltext">
                                            <div class="col-md-12">
                                              <span>Subcategory:</span>
                                              <select id="subcategory" name="subcategory" class="form-control" style="background-color:moccasin;" (change)="SubcategoryClicked($event)">
                                                <option></option>
                                                <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory.subcategoryId">
                                                  {{ subcategory.subcategoryDescription }}
                                                </option>
                                              </select>
                                            </div>
                                          </div>

                                          <br />
                                          <div class="row smalltext">
                                            <div class="col-md-12">
                                              <span>State:</span>
                                              <select id="state" name="state" class="form-control" style="background-color:moccasin;" (change)="StateClicked($event)">
                                                <option></option>
                                                <option *ngFor="let state of states" [ngValue]="state.id">
                                                  {{ state.name }}
                                                </option>
                                              </select>
                                            </div>
                                          </div>

                                          <br />
                                          <div class="row smalltext">
                                            <div class="col-md-12">
                                              <span>Place:</span>
                                              <select id="place" name="place" class="form-control" style="background-color:moccasin;" (change)="PlaceClicked($event)">
                                                <option></option>
                                                <option *ngFor="let place of places" [ngValue]="place.id">
                                                  {{ place.name }}
                                                </option>
                                              </select>
                                            </div>
                                          </div>

                                          <br />
                                          <div class="row smalltext">
                                            <div class="col-md-12">
                                              <span>Postcode:</span>
                                              <select id="postcode" name="postcode" class="form-control" style="background-color:moccasin;" (change)="PostcodeClicked($event)">
                                                <option></option>
                                                <option *ngFor="let postcode of postcodes" [ngValue]="postcode.id">
                                                  {{ postcode.number }}
                                                </option>
                                              </select>
                                            </div>
                                          </div>
                                          <br />                                          

                                          
                                          <div class="row container col-md-12" style="height:90px;">
                                                  
                                                  <div class="row container" style="height:45px;">
                                                    <button class="btn btn-primary btn-sm smalltext" (click)="getSetOfTradesWithSetFilters()" [disabled]="selectedCategory == null && selectedSubcategory ==null  && selectedState == null && selectedPlace == null ">Search</button>
                                                    <button class="btn btn-primary btn-sm smalltext" (click)="ClearAllFiltersAndGoBack()" [disabled]="filters == null">Clear</button>
                                                  </div>
                                                                                                                       
                                                <div *ngIf="!isAuthenticated" class="row container" style="height:45px;">
                                                  <button type="button" data-target="#addWarning" data-toggle="modal" class="btn btn-sm btn-success smalltext">
                                                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Post Trade
                                                  </button>
                                                </div>

                                                <div *ngIf="isAuthenticated" class="row container" style="height:45px;" (click)="PostTrade();">
                                                  <button type="button" class="btn btn-sm btn-success smalltext">
                                                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Post Trade
                                                  </button>
                                                </div>

                                            </div>

                                        </div>
                                                                 
                              </nav>

                         </div>
                                  
                 </div>

                 <!-- table -->
                 <div *ngIf="hasTrades" class="col-md-10">

                   <table class="table  table-hover table-responsive">

                     <tr *ngFor="let trade of rows  | paginate:config">

                        <td class="row col-md-12">

                               <div class="col-md-4 container">
                                 <carousel id="{{ trade.tradeId }}" [tradeId]="trade.tradeId" (onErrorPicked)="ChangeIsRequesting($event)"></carousel>
                               </div>

                               <div class="col-md-4 smalltextbold text-capitalize textgray">
                                 <div class="row" style="height:32px;">Trading:<a class="text-capitalize textlightcoral" [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}"> {{ trade.name  }}</a></div>                               
                                 <div class="row" style="height:32px;">Category: <span><span class="text-capitalize text-info"> {{ trade.categoryDescription  }}</span></span></div>
                                 <div class="row" style="height:32px;">Subcategory: <span><span class="text-capitalize text-info"> {{ trade.subcategoryDescription  }}</span></span></div>
                                 <div class="row" style="height:32px;">Trading for: <span class="text-capitalize text-info"> {{ trade.tradeFor  }}</span></div>
                                 <div class="row" style="height:32px;">Reference Id:<span class="text-capitalize text-info"> {{ trade.tradeId  }}</span></div>
                                 <div class="row" style="height:32px;">Published on:<span class="text-capitalize text-info"> {{ trade.datePublished | date }}</span></div>     
                                 <div class="row" style="height:32px;">Status: <span class="text-capitalize text-info"> {{ trade.status  }}</span></div>                               
                                 <div class="row" style="height:32px;">Trader: <a class="text-capitalize textlightcoral" [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}"> {{ trade.traderFullName }}</a></div>
                               </div>
                                

                               <div class="col-md-4 smalltextbold text-capitalize textgray">                                                                                 
                                 <div class="row" style="height:32px;">Place:<span class="text-capitalize text-info"> {{ trade.place  }}</span></div>
                                 <div class="row" style="height:32px;">Postcode:<span class="text-capitalize text-info"> {{ trade.postcodeNumber }}</span></div>
                                 <div class="row" style="height:32px;">State:<span class="text-capitalize text-info"> {{ trade.state  }}</span></div>
                                 <div class="row" style="height:160px;">Description:<span class="text-info"><br /> {{ trade.description  }}</span></div>     
                               </div>

                          </td>

                     </tr>

                  
                   </table>

                 </div>

               </div>


             <!-- table navigation -->
             <div class="row">
                      <div class="col-md-10 col-md-offset-2 panel panel-heading" style="height:50px;vertical-align:middle;">

                        <div class="container col-md-4  textsmall" style="height:50px;vertical-align:middle;">
                          <!-- the ngDefaultControl is needed because the pagination control needs a default acceessor -->
                          <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl
                                               (pageChange)="onPageChange($event)"
                                               maxSize="5"
                                               directionLinks="true"
                                               autoHide="true"
                                               previousLabel="Previous"
                                               nextLabel="Next"
                                               screenReaderPaginationLabel="Pagination"
                                               screenReaderPageLabel="page"
                                               screenReaderCurrentLabel="You're on page"
                                               [(ngModel)]="config.currentPage"
                                               (numPages)="numPages = $event"
                                               [maxSize]="maxSize">
                          </pagination-controls>
                        </div>


                        <div class="container col-md-4" style="text-align:center;">

                          <span class="smalltextbold textgray">Set of records: {{ setsCounter }} of  &nbsp;{{  totalNumberOfSets }}</span>
                          <button *ngIf="isNextButton" (click)="nextSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Next Set</button>
                          <button *ngIf="isPrevButton" (click)="previousSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Previous Set</button>

                        </div>

                        <div class="container col-md-4" style="text-align:center;">

                          <div class="col-md-12">
                            <span class="smalltextbold">Items Per Page</span>
                            <input type="number" min="15" max="{{ recordsPerSet -1}}" [(ngModel)]="config.itemsPerPage" style="width:50px;height:30px;" class="form-inline">
                          </div>

                        </div>

                      </div>
                </div>
             
 </div>             


<span *ngIf="!hasTrades" class="textoker"> The system can not find any trades!</span>

<my-spinner [isRunning]="isRequesting"></my-spinner>


<!-- MODAL form to show when POST trade is clicked and user is NOT LOGGED IN -->
<div class="modal fade" id="addWarning" tabindex="-1" role="dialog" aria-labelledby="addWarning">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>You need to be a logged on trader to do this action. Do you want to log in?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" [routerLink]="['/login']" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>
<!--End of modal form -->