
    <div class="container col-md-12">    

              <!-- the breadcrumb and sorting section-->
             <div class="row panel panel-footer" style="height:75px;vertical-align:middle;margin-top:-15px;">

                   <!-- breadcrumb -->
                   <div class="col-md-4 panel panel-heading smalltextbold" style="height:55px;">
                     <div style="margin-top:5px;">
                        <span class="smalltextbold">Displaying <span class="text-info smalltextbold">{{ fromNumber }} to {{ toNumber }} </span> of <span class="text-info smalltextbold">{{ totalNumberOfRecords }}</span> records </span>                    
                     </div>
                   </div>
                  

                 <!-- filter in all coloumns -->
                   <div class="col-md-4 panel panel-heading" style="height:55px;">                     
                       <div class="col-md-12">                         
                         <input *ngIf="config.filtering" placeholder="Filter in all columns" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)" class="form-control smalltext" style="height:30px;" />
                       </div>                                        
                   </div>


                    <!-- sort -->
                   <div class="col-md-4 panel panel-heading" style="height:55px;">

                         <div class="col-md-6 smalltextbold" style="margin-top:5px;">
                                 <span> Sorted by: <span class="text-info">{{ selectedItem }}</span></span>
                                 <span *ngIf="isAsc" class="glyphicon glyphicon-chevron-down"></span>
                                 <span *ngIf="!isAsc" class="glyphicon glyphicon-chevron-up"></span>
                         </div>       

                         <div class="col-md-6" >
                   
                             <div class="dropdown">
                                 <button class="btn btn-primary dropdown-toggle smalltext" id="menu1" type="button" data-toggle="dropdown" style="height:30px;width:150px;">Sort By
                                   <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu smalltextbold" role="menu" aria-labelledby="menu1">
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('name')">Name</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('tradeFor')">Trade For</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('datePublished')">Published</a></li>         
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('traderFullName')">Trader</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('categoryDescription')">Category</a></li>       
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('place')">Place</a></li>       
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('postcode')">Postcode</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('state')">State</a></li>                                   
                                 </ul>
                               </div>

                           </div>            

                     </div>
             
            </div>


             <!-- filter string-->
             <div class="row">            
               <div class="col-md-12 panel panel-title" style="margin-top: -10px;margin-bottom:10px;">                     
                     <span  class="smalltextbold">Selected filters : <span class="textlightcoral" id="filterstring"> {{ filters }}</span></span>                
               </div>                   
           </div>


             <!-- filters and the table -->
             <div class="row">

                 <!-- filters -->
                 <div class="col-md-2">
            
                        <!-- th efollow-scroll is the is used to create the menu to be fixed when scrolling-->
                         <div id="follow-scroll" class="row panel panel-heading wrapper" style="z-index:1000;">  

                           <nav id="sidebar" >

                             <!-- Sidebar Header -->
                             <div class="sidebar-header">
                               <a href="#filters" data-toggle="collapse" class="gliphfil smalltextbold textgray" aria-expanded="false" (click)="ClearAllFiltersAndGoBack()">
                                 Filters  <span class="glyphicon glyphicon-chevron-up"></span>
                               </a>
                             </div>

                           
                                    <br />
                                    <div class="row smalltext">                                     
                                      <div class="col-md-12">
                                        <span>Category:</span>
                                        <select id="category" name="category" class="form-control" style="background-color:moccasin;" (change)="CategoryClickedD($event)">
                                          <option></option>
                                          <option *ngFor="let category of categories" [ngValue]="category.categoryId">
                                            {{ category.categoryDescription }}
                                          </option>                                        
                                        </select>
                                      </div>
                                    </div>

                                    <br/>
                                    <div class="row smalltext">                                   
                                      <div class="col-md-12">
                                        <span>Subcategory:</span>
                                        <select id="subcategory" name="subcategory" class="form-control" style="background-color:moccasin;" (change)="SubcategoryClickedD($event)">
                                          <option></option>
                                          <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory.subcategoryId"  >
                                            {{ subcategory.subcategoryDescription }}
                                          </option>                                     
                                        </select>
                                      </div>
                                    </div>

                                    <br />
                                    <div class="row smalltext">                                   
                                      <div class="col-md-12">
                                        <span>State:</span>
                                        <select  id="state" name="state" class="form-control" style="background-color:moccasin;" (change)="StateClickedD($event)">
                                          <option></option>
                                          <option *ngFor="let state of states" [ngValue]="state.id">
                                            {{ state.name }}
                                          </option>
                                        </select>                                      
                                      </div>
                                    </div>

                                    <br />
                                    <div class="row smalltext">                                  
                                      <div class="col-md-12">
                                        <span>Place:</span>
                                        <select id="place" name="place" class="form-control" style="background-color:moccasin;" (change)="PlaceClickedD($event)">
                                          <option></option>
                                          <option *ngFor="let place of places" [ngValue]="place.id" >
                                            {{ place.name }}
                                          </option>
                                        </select>                                 
                                      </div>
                                    </div>

                                    <br />
                                   <div class="row smalltext">
                                     <div class="col-md-12">
                                       <span>Postcode:</span>
                                       <select id="postcode" name="postcode" class="form-control" style="background-color:moccasin;">
                                         <option></option>
                                         <option *ngFor="let postcode of postcodes" [ngValue]="postcode.id" (change)="PostcodeClickedD($event)">
                                           {{ place.name }}
                                         </option>
                                       </select>
                                     </div>
                                   </div>
                                    <br />

                                    
                                   <div class="row smalltext">
                                     <div class="col-md-12">
                                       <button class="btn btn-primary btn-sm smalltext" (click)="filtersSet()" [disabled]="categoryClickedD == null && subcategoryClickedD ==null  && stateClickedD == null && placeClickedD == null ">Search</button>
                                       <button class="btn btn-primary btn-sm smalltext" (click)="ClearAllFiltersAndGoBack()" [disabled]="filters == null">Clear</button>
                                     </div>
                                   </div>


                                  <!-- original stuff here -->

                           </nav>

                         </div>
                                  
                   </div>

                 <!-- table -->
                 <div *ngIf="hasTrades" class="col-md-10">

                   <table class="table  table-hover table-responsive">

                     <tr *ngFor="let trade of rows  | paginate:config">

                       <td class="row col-md-12">

                         <div class="col-md-4 container">
                           <carousel style="align-content:center;" id="{{ trade.tradeId }}" [tradeId]="trade.tradeId" (onErrorPicked)="ChangeIsRequesting($event)"></carousel>
                         </div>


                         <div class="col-md-4 smalltextbold text-capitalize textgray">
                           <div class="row" style="height:30px;">Trading:<a class="text-capitalize textlightcoral" [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}"> {{ trade.name  }}</a></div>
                           <div class="row" style="height:30px;">Trading for: <span class="text-capitalize text-info"> {{ trade.tradeFor  }}</span></div>
                           <div class="row" style="height:30px;">Category: <span><span class="text-capitalize text-info"> {{ trade.categoryDescription  }}</span></span></div>
                           <div class="row" style="height:30px;">Subcategory: <span><span class="text-capitalize text-info"> {{ trade.subcategoryDescription  }}</span></span></div>
                           <div class="row" style="height:30px;">Reference Id:<span class="text-capitalize text-info"> {{ trade.tradeId  }}</span></div>
                           <div class="row" style="height:30px;">Published on:<span class="text-capitalize text-info"> {{ trade.datePublished | date:'medium'  }}</span></div>
                           <div class="row" style="height:30px;">Trader: <a class="text-capitalize textlightcoral" [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}"> {{ trade.traderFullName }}</a></div>
                         </div>


                         <div class="col-md-4 smalltextbold text-capitalize textgray">
                           <div class="row" style="height:120px;">Description:<span class="text-info"><br /> {{ trade.description  }}</span></div>
                           <div class="row" style="height:30px;">Status: <span class="text-capitalize text-info"> {{ trade.status  }}</span></div>
                           <div class="row" style="height:30px;">Place:<span class="text-capitalize text-info"> {{ trade.place  }}</span>, {{ trade.postcode }}</div>                           
                           <div class="row" style="height:30px;">State:<span class="text-capitalize text-info"> {{ trade.state  }}</span></div>
                         </div>

                       </td>
                     </tr>

                   </table>

                 </div>

               </div>


            <!-- Table naviagtion -->
            <div  class="col-md-12 panel panel-heading" style="height:50px;vertical-align:middle;">

                  <div  class="container col-md-4  textsmall" style="height:50px;vertical-align:middle;">
                    <!-- the ngDefaultControl is needed because the pagination control needs a default acceessor -->
                      <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl 
                                           (pageChange)="onPageChange($event)"
                                           maxSize="5"
                                           directionLinks="true"
                                           autoHide="true"
                                           previousLabel="Previous"
                                           nextLabel="Next" 
                                           screenReaderPaginationLabel="Pagination"
                                           screenReaderPageLabel="page"
                                           screenReaderCurrentLabel="You're on page"
                                           [(ngModel)]="config.currentPage"
                                           (numPages)="numPages = $event"
                                           [maxSize]="maxSize">
                      </pagination-controls>
                    </div>


                  <div class="container col-md-4" style="text-align:center;">
                            
                      <span class="smalltextbold textgray">Set of records: {{ setsCounter }} of  &nbsp;{{  totalNumberOfSets }}</span>
                      <button *ngIf="isNextButton" (click)="nextSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Next Set</button>
                      <button *ngIf="isPrevButton" (click)="previousSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Previous Set</button>
            
                  </div>        

                 <div class="container col-md-4"  style="text-align:center;">
           
                    <div class="col-md-12">
                        <span class="smalltextbold">Items Per Page</span>
                        <input type="number" min="15" max="{{ recordsPerSet -1}}" [(ngModel)]="config.itemsPerPage" style="width:50px;height:30px;" class="form-inline">
                    </div>

                </div>

            </div>
             
 </div>             


<span *ngIf="hasNoTrades" class="textoker"> The system can not find any trades!</span>

<my-spinner [isRunning]="isRequesting"></my-spinner>



<!--<div class="panel-group" id="catparent">
  <div class="panel panel-default">
    <div class="panel-heading" style="margin-top:-20px;">
      <a data-toggle="collapse" data-parent="#catparent" href="#{{category.categoryDescription}}"
         (click)="CategoryClicked(category)"
         class="panel-title textlightcoral smalltextbold">
        <span>{{category.categoryDescription}}  <span class="caret"></span> </span>
      </a>
    </div>

    <div class="panel-collapse collapse" id="{{category.categoryDescription}}">
      <div class="panel-body">
        <ul class="panel-collapse collapse list-unstyled" id="{{category.categoryDescription}}">
           for each subcategories here 
          <li *ngFor="let subcategory of category.subcategories">
            <a (click)="SubcategoryClicked(subcategory, category)"
               class="textoker smalltextbold">
              <span>{{subcategory.subcategoryDescription}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>-->      


<!--<div class="panel-group" id="plaparent">
  <div class="panel panel-default">

    <div class="panel-heading" style="margin-top:-18px;">
      <a data-toggle="collapse" data-parent="#plaparent" href="#{{state.name}}" (click)="StateClicked(state)" class="panel-title textlightcoral smalltextbold">
        <span>{{state.name}}  <span class="caret"></span> </span>
      </a>
    </div>

    <div class="panel-collapse collapse" id="{{state.name}}">
      <div class="panel-body">
        <ul style="margin-left:-30px;">        
          <li *ngFor="let place of state.places">
            <a (click)="PlaceClicked(place, state)" class="textoker smalltextbold"><span>{{place.name}}</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>-->