
<div *ngIf="hasTrades">

         <div class="container col-md-12">    

              <!-- the breadcrumb and sorting section-->
             <div class="row panel panel-footer" style="height:75px;vertical-align:middle;">

                   <!-- breadcrumb -->
                   <div class="col-md-6 panel panel-heading smalltext" style="height:55px;">
                     <div style="margin-top:5px;">
                        <span>Displaying <span class="text-info">{{ displayRecords }}</span> of <span class="text-info">{{ config.totalItems }}</span> records </span>
                       <span *ngIf="filters != null">with {{ filters }}</span>
                     </div>
                   </div>
                  

                 <!-- filter in all coloumns -->
                   <div class="col-md-2 panel panel-heading" style="height:55px;">                     
                       <div class="col-md-12">
                         <!--<span class="smalltextbold">Filter in all columns</span>-->
                         <input *ngIf="config.filtering" placeholder="Filter in all columns" [ngTableFiltering]="config.filtering" 
                                (tableChanged)="onChangeTable(config)" class="form-control smalltext" style="height:30px;" />
                       </div>                    
                    
                     </div>


                    <!-- sort -->
                   <div class="col-md-4 panel panel-heading" style="height:55px;">

                         <div class="col-md-6 smalltext" style="margin-top:5px;">
                                 <span> Sorted by: <span class="text-info">{{ selectedItem }}</span></span>
                                 <span *ngIf="isAsc" class="glyphicon glyphicon-chevron-down"></span>
                                 <span *ngIf="!isAsc" class="glyphicon glyphicon-chevron-up"></span>
                         </div>       

                         <div class="col-md-6 smalltext" >
                   
                             <div class="dropdown">
                                 <button class="btn btn-primary dropdown-toggle smalltext" id="menu1" type="button" data-toggle="dropdown" style="height:30px;">Sort By
                                   <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu smalltext" role="menu" aria-labelledby="menu1">
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('name')">Name</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('tradeFor')">Trade For</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('datePublished')">Published</a></li>         
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('traderFullName')">Trader</a></li>
                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation"><a role="menuitem" tabindex="-1" (click)="sortTable('categoryDescription')">Category</a></li>                                                    
                                 </ul>
                               </div>

                           </div>            

                     </div>
             
           </div>


           <!-- filter and the table -->
           <div class="row">

              <!-- filter -->
             <div class="col-md-2">

                <div class="row panel panel-heading">       
                             
                      <span class="filters panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseFilters">
                        <span class="glyphicon glyphicon-plus"></span> Filters                
                      </span>


                      <div id="collapseFilters" class="collapse">

                             <div class="col-md-12 panel">
                                  <span id="category" class="categories panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseCategory">
                                    <span class="glyphicon glyphicon-plus"></span> Category
                                  </span>
                        
                                  <div id="collapseCategory" class="collapse smalltext">
                                    List of categories here

                                  </div>
                            </div>


                            <div class="col-md-12 panel">
                                <span id="places" class="places panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapsePlace">
                                  <span class="glyphicon glyphicon-plus"></span> Place
                                </span>

                                  <div id="collapsePlace" class="collapse smalltext">
                                       List of places here
                                       
                                  </div>
                            </div>

                        </div>

                </div>   
                                          
             </div>

             <!-- table -->
             <div class="table-responsive col-md-10">

                     <table class="table  table-hover">                           
                     
                         <tr *ngFor="let trade of rows  | paginate:config ">

                                 <td class="row col-md-12">   
                                                                
                                     <div class="col-md-4 container">                                       
                                       <carousel style="align-content:center;" id="{{ trade.tradeId }}" [tradeId]="trade.tradeId" (onErrorPicked)="ChangeIsRequesting($event)"></carousel>  
                                     </div>


                                     <div class="col-md-4">                                     
                                       <div class="row smalltext text-capitalize textgray"  style="height:30px;">Trading:<a class="smalltext text-uppercase textlightcoral" [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}"> {{ trade.name  }}</a></div>
                                       <div class="row smalltext text-capitalize textgray"  style="height:30px;">Trading for: <span class="smalltext text-uppercase text-info"> {{ trade.tradeFor  }}</span></div>
                                       <div class="row smalltext text-capitalize textgray"  style="height:30px;">Category: <span><span class="smalltext text-uppercase text-info"> {{ trade.categoryDescription  }}</span></span></div>         
                                       <div class="row smalltext text-capitalize textgray" style="height:30px;">Reference Id:<span class="smalltext text-uppercase text-info"> {{ trade.tradeId  }}</span></div>    
                                       <div class="row smalltext text-capitalize textgray"  style="height:30px;">Published on:<span class="smalltext text-uppercase text-info"> {{ trade.datePublished | date }}</span></div>
                                       <div class="row smalltext text-capitalize textgray"  style="height:30px;">Trader: <a class="smalltext text-uppercase textlightcoral" [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}"> {{ trade.traderFullName }}</a></div>
                                     </div>


                                     <div class="col-md-4">
                                       <div class="row smalltext text-capitalize textgray"  style="height:120px;">Description:<span  class="smalltext text-info"> {{ trade.description  }}</span></div>                                              
                                       <div class="row smalltext text-capitalize textgray" style="height:30px;">Status: <span class="smalltext text-uppercase text-info"> {{ trade.status  }}</span></div>             
                                       <div class="row smalltext text-capitalize textgray"  style="height:30px;">Place:<span  class="smalltext text-uppercase text-info"> {{ trade.place  }}</span></div>                                                                                                                                                
                                  </div>
                  
                                  </td>   
                          </tr>
  
                    </table>

             </div>

           </div>



           <!-- Table naviagtion -->
          <div *ngIf="hasSets || hasNavigation" class="row panel panel-footer" style="height:75px;vertical-align:middle;">
             
                <div class="col-md-4 panel panel-heading textsmall"  style="height:55px;vertical-align:middle;">
                  <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl
                                       (pageChange)="onPageChange($event)"
                                       maxSize="5"
                                       directionLinks="true"
                                       autoHide="true"
                                       previousLabel="Previous"
                                       nextLabel="Next"
                                       screenReaderPaginationLabel="Pagination"
                                       screenReaderPageLabel="page"
                                       screenReaderCurrentLabel="You're on page"
                                       [(ngModel)]="config.currentPage"
                                       (numPages)="numPages = $event"
                                       [maxSize]="maxSize">
                  </pagination-controls>
                </div>

                <div *ngIf="hasSets">

                  <div class="col-md-2 col-md-offset-1 panel panel-heading" style="height:55px;vertical-align:middle;">
                    <span class="smalltextbold textgray">Set of records: {{setsCounter }} of {{ totalNumberOfSets}}</span>
                  </div>

                  <div class="col-md-3 col-md-offset-2  panel panel-heading" style="height:55px;vertical-align:middle;">
                    <button *ngIf="isNextButton" (click)="nextSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Next Set</button>
                    <button *ngIf="isPrevButton" (click)="previousSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Previous Set</button>
                  </div>

                </div>

          </div>


    </div>

</div>

<span *ngIf="hasNoTrades" class="textoker"> The system can not find any trades!</span>

<my-spinner [isRunning]="isRequesting"></my-spinner>




<!--<div class="row">

  <div class="col-md-2 textgray">

    <span class="smalltextbold">Filter in all columns</span>
    <input *ngIf="config.filtering" placeholder="Filter" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)" class="form-control" />
  </div>


  <div class="col-md-2 textgray">
    <span class="smalltextbold">Items Per Page</span>
    <input type="number" min="1" max="{{recordsPerSet -1}}" [(ngModel)]="config.itemsPerPage" class="form-control">
  </div>


  <div class="col-md-2 col-md-offset-6 text-right">
    <br />
    <div *ngIf="!isAuthenticated">
      <button type="button" data-target="#addremoveLogin" data-toggle="modal" class="btn btn-success btn-sm smalltext">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Trade
      </button>
    </div>

    <div *ngIf="isAuthenticated">
      <button class="btn btn-success btn-sm smalltext" (click)="addTrade()">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Trade
      </button>
    </div>

  </div>

</div>

<br />


<div class="row">

  <div class="table-responsive">

    <table class="table table-bordered table-hover">


      <thead>
        <tr style="height:35px;">
          <th class="col-md-1" style="background-color:#FF223A3A">
            <a (click)="sortTable('tradeIdStr')" class="text-uppercase textgray smalltextbold" style="width:auto">
              Id
              <span *ngIf="isIdAsc" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!isIdAsc" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>

          <th class="col-md-1" style="background-color:#FF223A3A">
            <a (click)="sortTable('status')" class="textgray text-uppercase smalltextbold" style="width:auto">
              Status
              <span *ngIf="isStatusAsc" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!isStatusAsc" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>

          <th class="col-md-2" style="background-color:#FF223A3A">
            <a (click)="sortTable('name')" class="textgray text-uppercase  smalltextbold" style="width:auto">
              Trading
              <span *ngIf="isTitleAsc" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!isTitleAsc" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>

          <th class="col-md-2" style="background-color:#FF223A3A">
            <a (click)="sortTable('tradeFor')" class="textgray text-uppercase smalltextbold" style="width:auto">
              For
              <span *ngIf="isTitleForAsc" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!isTitleForAsc" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>

          <th class="col-md-2" style="background-color:#FF223A3A">
            <a (click)="sortTable('categoryDescription')" class="textgray text-uppercase smalltextbold" style="width:auto">
              Category
              <span *ngIf="isCategoryAsc" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!isCategoryAsc" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>

          <th class="col-md-2" style="background-color:#FF223A3A">
            <a (click)="sortTable('traderFullName')" class="textgray text-uppercase smalltextbold" style="width:auto">
              Trader
              <span *ngIf="isNameAsc" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!isNameAsc" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>

          <th class="col-md-2" style="background-color:#FF223A3A">
            <a (click)="sortTable('datePublished')" class="textgray text-uppercase smalltextbold" style="width:auto">
              Published
              <span *ngIf="isPublishedAsc" class="glyphicon glyphicon-chevron-down"></span>
              <span *ngIf="!isPublishedAsc" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>

        </tr>
      </thead>


      <tr *ngFor="let trade of rows  | paginate:config ">

        <td class="col-md-1 smalltext text-capitalize textgray">{{ trade.tradeIdStr  }}</td>

        <td class="col-md-1 smalltext text-capitalize textgray">{{ trade.status  }}</td>

        <td class="col-md-2">
          <a class="smalltext text-uppercase textlightcoral" [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}"><i>{{ trade.name  }}</i></a>
        </td>

        <td class="col-md-2 smalltext text-capitalize textgray"> {{ trade.tradeFor  }}</td>

        <td class="col-md-2 smalltext text-capitalize textgray">{{ trade.categoryDescription  }}</td>

        <td class="col-md-2">
          <a class="smalltext text-uppercase textlightcoral" [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}"><i>{{ trade.traderFullName }}</i></a>
        </td>

        <td class="col-md-2 smalltext text-capitalize textgray">{{ trade.datePublished | date }}</td>

      </tr>

    </table>

  </div>

</div>-->


