<div class="container col-md-12">

  <!-- menu section-->
  <div class="col-md-2">
      <div class="panel panel-heading footerdiv  col-md-12">
              <div class="row panel panel-heading"><a class="smalltext text-uppercase  textlightcoral" (click)="showInbox()"><i>Inbox Items</i></a></div>
              <div class="row panel panel-heading"><a class="smalltext text-uppercase  textlightcoral" (click)="showSent()"><i>Sent Items</i></a></div>
              <div class="row panel panel-heading"><a class="smalltext text-uppercase  textlightcoral" (click)="showArchivedInbox()"><i>Archived Inbox</i></a></div>
              <div class="row panel panel-heading"><a class="smalltext text-uppercase  textlightcoral" (click)="showArchivedSent()"><i>Archived Sent</i></a></div>
              <div class="row panel panel-heading"><a class="smalltext text-uppercase  textlightcoral" (click)="showRemoved()"><i>Removed Items</i></a></div>
      </div>
   </div>


  <div class="col-md-10">

      <!-- Inbox section -->
      <div *ngIf="toggleInbox" class="panel panel-heading footerdiv  col-md-12">

        <span class="inbox panel-title collapsed  smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseInbox">
          <span class="glyphicon glyphicon-minus"></span>
          Inbox Items <span *ngIf="!hasInbox" class="textoker"> - The system can not find any new correspondence under your account!</span>
        </span>

        <!-- Collapsable Correspondence -->
        <div  id="collapseInbox" class="collapse in panel-heading">

             <div *ngIf="hasInbox">

                    <!-- Table-->
                    <div class="table-responsive">

                      <table class="table table-bordered table-hover table-condensed">

                        <!-- Table Header -->
                        <thead>
                          <tr>
                         
                            <th class="col-md-2" style="background-color:#FF223A3A">
                              <span class="textgray smalltext text-uppercase" style="width:auto">Message</span>
                            </th>
                            <th class="col-md-2" style="background-color:#FF223A3A">
                              <span class="textgray  smalltext  text-uppercase" style="width:auto">From</span>
                            </th>
                          
                            <th class="col-md-1" style="background-color:#FF223A3A">
                              <span class="textgray smalltext  text-uppercase" style="width:auto">About </span>
                            </th>

                            <th class="col-md-2" style="background-color:#FF223A3A">
                              <span class="textgray  smalltext  text-uppercase" style="width:auto">Received On</span>
                            </th>
                       
                            <th class="col-md-1" style="background-color:#FF223A3A">
                              <span class="textgray  smalltext  text-uppercase" style="width:auto">Status</span>
                            </th>

                            <th class="col-md-3" style="background-color:#FF223A3A">
                              <span class="textgray  smalltext  text-uppercase" style="width:auto">Actions</span>
                            </th>
                          </tr>
                        </thead>

                        <!-- Table Rows -->
                        <tr *ngFor="let corres of rowsInbox |  paginate:configInbox ">
                      
                          <td class="col-md-2">
                            <a [routerLink]="['/correspondencedetails']" [queryParams]="{id: corres.id}" class="smalltext text-uppercase textlightcoral restriction"><i>{{ corres.message  }}</i></a>
                          </td>

                          <td class="col-md-2">
                            <a [routerLink]="['/traderdetails']" [queryParams]="{id: corres.traderIdSender}" class="smalltext text-uppercase textlightcoral"><i>{{ corres.sender  }}</i></a>
                          </td>

                          <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.subject  }}</td>

                          <td class="col-md-2 smalltextbold text-capitalize textgray">{{ corres.dateSent | date:'medium' }}</td>
                     
                          <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.statusReceiver }}</td>

                          <td class="col-md-3">

                            <div class="col-md-12">

                              <div class="col-md-6" style="text-align:right;">
                                <!-- archive the inbox mail -->
                                <button type="button" data-target="#archiveInbox" data-toggle="modal"
                                        class="btn btn-sm btn-warning smalltext" (click)="passToModalArchiveInbox(corres)">
                                  <span class="glyphicon glyphicon-duplicate"></span>&nbsp;Archive
                                </button>
                              </div>

                              <div class="col-md-6" style="text-align:left;">
                                <!-- delete the inbox mail -->
                                <button type="button" data-target="#removeInbox" data-articleid=(trade.tradeId)
                                        data-toggle="modal" class="btn btn-sm btn-danger smalltext" (click)="passToModalRemoveInbox(corres)">
                                  <span class="glyphicon glyphicon-trash"></span>&nbsp;Remove
                                </button>
                              </div>
                            </div>
                          </td>
                        </tr>

                      </table>

                    </div>
                    <!-- Table pagination -->
                    <div class="row col-md-12">
                      <div class="col-md-5">
                        <pagination-controls id="paginationInbox" *ngIf="configInbox.paging" ngDefaultControl
                                             (pageChange)="onPageChangeInbox($event)"
                                             maxSize="5"
                                             directionLinks="true"
                                             autoHide="true"
                                             previousLabel="Previous"
                                             nextLabel="Next"
                                             screenReaderPaginationLabel="Pagination"
                                             screenReaderPageLabel="pageMes"
                                             screenReaderCurrentLabel="You're on page"
                                             [(ngModel)]="configInbox.currentPage"
                                             (numPages)="numPagesInbox = $event"
                                             [maxSize]="maxSizeInbox">
                        </pagination-controls>
                      </div>
                    </div>

              </div>        
        </div>
      </div>


      <!-- Sent section -->
      <div *ngIf="toggleSent" class="panel panel-heading footerdiv  col-md-12">

        <span class="sent panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseSent">
          <span class="glyphicon glyphicon-minus"></span>
          Sent Items<span *ngIf="!hasSent" class="textoker"> - The system can not find any sent correspondence under you account!</span>
        </span>

        <!-- Collapsable Trade Status -->
        <div id="collapseSent" class="collapse in  panel-heading">

          <div *ngIf="hasSent">
            <!-- Table-->
            <div class="table-responsive">

              <table class="table table-bordered table-hover table-condensed">

                <!-- Table Header -->
                <thead>
                  <tr>
                  

                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <span class="textgray smalltext text-uppercase" style="width:auto">Message</span>
                    </th>
                  
                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <span class="textgray  smalltext  text-uppercase" style="width:auto">To</span>
                    </th>

                    <th class="col-md-1" style="background-color:#FF223A3A">
                      <span class="textgray smalltext  text-uppercase" style="width:auto">Abount </span>
                    </th>

                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <span class="textgray  smalltext  text-uppercase" style="width:auto">Sent On</span>
                    </th>

                    <th class="col-md-1" style="background-color:#FF223A3A">
                      <span class="textgray  smalltext  text-uppercase" style="width:auto">Status</span>
                    </th>

                    <th class="col-md-3" style="background-color:#FF223A3A">
                      <span class="textgray  smalltext  text-uppercase" style="width:auto">Actions</span>
                    </th>
                  </tr>
                </thead>

                <!-- Table Rows -->
                <tr *ngFor="let corres of rowsSent |  paginate:configSent ">                

                  <td class="col-md-2">
                    <a [routerLink]="['/correspondencedetails']" [queryParams]="{id: corres.id}" class="smalltext text-uppercase textlightcoral restriction"><i>{{ corres.message  }}</i></a>
                  </td>

                  <td class="col-md-2">
                    <a [routerLink]="['/traderdetails']" [queryParams]="{id: corres.traderIdReceiver}" class="smalltext text-uppercase textlightcoral"><i>{{ corres.receiver  }}</i></a>
                  </td>

                  <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.subject  }}</td>

                  <td class="col-md-2 smalltextbold text-capitalize textgray">{{ corres.dateSent | date:'medium' }}</td>
              
                  <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.statusSender }}</td>

                  <td class="col-md-3">
                    <div class="col-md-12">
                      <div class="col-md-6" style="text-align:right;">
                        <!-- archive the sent mail -->
                        <button type="button" data-target="#archiveSent" data-toggle="modal"
                                class="btn btn-sm btn-warning smalltext" (click)="passToModalArchiveSent(corres)">
                          <span class="glyphicon glyphicon-duplicate"></span>&nbsp;Archive
                        </button>
                      </div>

                      <div class="col-md-6" style="text-align:left;">
                        <!-- delete the sent mail -->
                        <button type="button" data-target="#removeSent" data-toggle="modal"
                                class="btn btn-sm btn-danger smalltext" (click)="passToModalRemoveSent(corres)">
                          <span class="glyphicon glyphicon-trash"></span>&nbsp;Remove
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>

              </table>

            </div>

            <!-- Table pagination -->
            <div class="row col-md-12">
              <div class="col-md-5">
                <pagination-controls id="paginationSent" *ngIf="configSent.paging" ngDefaultControl
                                     (pageChange)="onPageChangeSent($event)"
                                     maxSize="5"
                                     directionLinks="true"
                                     autoHide="true"
                                     previousLabel="Previous"
                                     nextLabel="Next"
                                     screenReaderPaginationLabel="Pagination"
                                     screenReaderPageLabel="pageMes"
                                     screenReaderCurrentLabel="You're on page"
                                     [(ngModel)]="configSent.currentPage"
                                     (numPages)="numPagesSent = $event"
                                     [maxSize]="maxSizeSent">
                </pagination-controls>
              </div>
            </div>

          </div>

        </div>

      </div>


     <!-- inbox archived -->
      <div *ngIf="toggleArchivedInbox" class="panel panel-heading footerdiv  col-md-12">

        <span class="archiveinbox panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseArchiveInbox">
          <span class="glyphicon glyphicon-minus"></span>
          Archived Inbox <span *ngIf="!hasArchivedInbox" class="textoker"> - The system can not find any archived received correspondence under you account!</span>
        </span>

        <!-- Collapsable Trade Status -->
        <div id="collapseArchiveInbox" class="collapse in panel-heading">

          <div *ngIf="hasArchivedInbox">

                <!-- Table-->
                <div class="table-responsive">

                  <table class="table table-bordered table-hover table-condensed">

                    <!-- Table Header -->
                    <thead>
                      <tr>
                      

                        <th class="col-md-2" style="background-color:#FF223A3A">
                          <span class="textgray smalltext text-uppercase" style="width:auto">Message</span>
                        </th>

                        <th class="col-md-2" style="background-color:#FF223A3A">
                          <span class="textgray  smalltext  text-uppercase" style="width:auto">From</span>
                        </th>

                        <th class="col-md-1" style="background-color:#FF223A3A">
                          <span class="textgray smalltext  text-uppercase" style="width:auto">About </span>
                        </th>

                        <th class="col-md-2" style="background-color:#FF223A3A">
                          <span class="textgray  smalltext  text-uppercase" style="width:auto">Received On</span>
                        </th>                     

                        <th class="col-md-1" style="background-color:#FF223A3A">
                          <span class="textgray  smalltext  text-uppercase" style="width:auto">Status</span>
                        </th>

                        <th class="col-md-2" style="background-color:#FF223A3A">
                          <span class="textgray  smalltext  text-uppercase" style="width:auto">Actions</span>
                        </th>
                      </tr>
                    </thead>

                    <!-- Table Rows -->
                    <tr *ngFor="let corres of rowsArchivedInbox |  paginate:configArchivedInbox ">                     

                      <td class="col-md-2">
                        <a [routerLink]="['/correspondencedetails']" [queryParams]="{id: corres.id}" class="smalltext text-uppercase textlightcoral restriction"><i>{{ corres.message  }}</i></a>
                      </td>
                      <td class="col-md-2">
                        <a [routerLink]="['/traderdetails']" [queryParams]="{id: corres.traderIdSender}" class="smalltext text-uppercase textlightcoral"><i>{{ corres.sender  }}</i></a>
                      </td>

                      <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.subject  }}</td>

                      <td class="col-md-2 smalltextbold text-capitalize textgray">{{ corres.dateSent | date:'medium' }}</td>
                  
                      <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.statusReceiver }}</td>


                      <td class="col-md-3" style="text-align:center;">

                        <!-- delete the archived inbox mail -->
                        <button type="button" data-target="#removeArchivedInbox" data-toggle="modal"
                                class="btn btn-sm btn-danger smalltext" (click)="passToModalRemoveArchivedInbox(corres)">
                          <span class="glyphicon glyphicon-trash"></span>&nbsp;Remove
                        </button>

                      </td>
                    </tr>

                  </table>

                </div>

                <!-- Table pagination -->
                <div class="row col-md-12">
                  <div class="col-md-5">
                    <pagination-controls id="paginationArchivedInbox" *ngIf="configArchivedInbox.paging" ngDefaultControl
                                         (pageChange)="onPageChangeArchivedInbox($event)"
                                         maxSize="5"
                                         directionLinks="true"
                                         autoHide="true"
                                         previousLabel="Previous"
                                         nextLabel="Next"
                                         screenReaderPaginationLabel="Pagination"
                                         screenReaderPageLabel="pageMes"
                                         screenReaderCurrentLabel="You're on page"
                                         [(ngModel)]="configArchivedInbox.currentPage"
                                         (numPages)="numPagesArchivedInbox = $event"
                                         [maxSize]="maxSizeArchivedInbox">
                    </pagination-controls>
                  </div>
                </div>
          </div>

          <br />

        </div>

      </div>


     <!-- sent archived -->
      <div *ngIf="toggleArchivedSent" class="panel panel-heading footerdiv  col-md-12">

        <span class="archivesent panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseArchiveSent">
          <span class="glyphicon glyphicon-minus"></span>
          Archived Sent<span *ngIf="!hasArchivedSent" class="textoker"> - The system can not find any archived sent correspondence under you account!</span>
        </span>

  
          <div id="collapseArchiveSent" class="collapse in panel-heading">

            <div *ngIf="hasArchivedSent" >
                  <!-- Table-->
                  <div class="table-responsive">

                    <table class="table table-bordered table-hover table-condensed">

                      <!-- Table Header -->
                      <thead>
                        <tr>                        

                          <th class="col-md-2" style="background-color:#FF223A3A">
                            <span class="textgray smalltext text-uppercase" style="width:auto">Message</span>
                          </th>

                          <th class="col-md-2" style="background-color:#FF223A3A">
                            <span class="textgray  smalltext  text-uppercase" style="width:auto">To</span>
                          </th>

                          <th class="col-md-1" style="background-color:#FF223A3A">
                            <span class="textgray smalltext  text-uppercase" style="width:auto">About </span>
                          </th>

                          <th class="col-md-2" style="background-color:#FF223A3A">
                            <span class="textgray  smalltext  text-uppercase" style="width:auto">Sent On</span>
                          </th>                         

                          <th class="col-md-1" style="background-color:#FF223A3A">
                            <span class="textgray  smalltext  text-uppercase" style="width:auto">Status</span>
                          </th>

                          <th class="col-md-2" style="background-color:#FF223A3A">
                            <span class="textgray  smalltext  text-uppercase" style="width:auto">Actions</span>
                          </th>
                        </tr>
                      </thead>

                      <!-- Table Rows -->
                      <tr *ngFor="let corres of rowsArchivedSent |  paginate:configArchivedSent ">                     

                        <td class="col-md-2">
                          <a [routerLink]="['/correspondencedetails']" [queryParams]="{id: corres.id}" class="smalltext text-uppercase textlightcoral restriction"><i>{{ corres.message  }}</i></a>
                        </td>

                        <td class="col-md-2">
                          <a [routerLink]="['/traderdetails']" [queryParams]="{id: corres.traderIdReceiver}" class="smalltext text-uppercase textlightcoral"><i>{{ corres.receiver  }}</i></a>
                        </td>

                        <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.subject  }}</td>

                        <td class="col-md-2 smalltextbold text-capitalize textgray">{{ corres.dateSent | date:'medium' }}</td>                    

                        <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.statusSender }}</td>

                        <td class="col-md-3" style="text-align:center;">
                          <!-- delete the archived sent mail -->
                          <button type="button" data-target="#removeArchivedSent" data-toggle="modal"
                                  class="btn btn-sm btn-danger smalltext" (click)="passToModalRemoveArchivedSent(corres)">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;Remove
                          </button>

                        </td>
                      </tr>

                    </table>

                  </div>

                  <!-- Table pagination -->
                  <div class="row col-md-12">
                    <div class="col-md-5">
                      <pagination-controls id="paginationArchivedSent" *ngIf="configArchivedSent.paging" ngDefaultControl
                                           (pageChange)="onPageChangeArchivedSent($event)"
                                           maxSize="5"
                                           directionLinks="true"
                                           autoHide="true"
                                           previousLabel="Previous"
                                           nextLabel="Next"
                                           screenReaderPaginationLabel="Pagination"
                                           screenReaderPageLabel="pageMes"
                                           screenReaderCurrentLabel="You're on page"
                                           [(ngModel)]="configArchivedSent.currentPage"
                                           (numPages)="numPagesArchivedSent = $event"
                                           [maxSize]="maxSizeArchivedSent">
                      </pagination-controls>
                    </div>
                  </div>

            </div>         
          </div>
      </div>

  
    <!-- all removed -->
    <div *ngIf="toggleRemoved" class="panel panel-heading footerdiv  col-md-12">

      <span class="removed panel-title collapsed  smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseRemoved">
        <span class="glyphicon glyphicon-minus"></span>
        Removed Items<span *ngIf="!hasRemoved" class="textoker"> - The system can not find any removed correspondence under your account!</span>
      </span>

      <!-- Collapsable Correspondence -->
      <div id="collapseRemoved" class="collapse in panel-heading">

              <div *ngIf="hasRemoved">

                        <!-- Table-->
                        <div class="table-responsive">

                          <table class="table table-bordered table-hover table-condensed">

                            <!-- Table Header -->
                            <thead>
                              <tr>
                                

                                <th class="col-md-2" style="background-color:#FF223A3A">
                                  <span class="textgray smalltext text-uppercase" style="width:auto">Message</span>
                                </th>

                                <!-- TODO alternate for received and sent emails-->
                                <th class="col-md-2" style="background-color:#FF223A3A">
                                  <span class="textgray  smalltext  text-uppercase" style="width:auto">From</span>
                                </th>

                                <th class="col-md-2" style="background-color:#FF223A3A">
                                  <span class="textgray  smalltext  text-uppercase" style="width:auto">To</span>
                                </th>

                                <th class="col-md-1" style="background-color:#FF223A3A">
                                  <span class="textgray smalltext  text-uppercase" style="width:auto">About </span>
                                </th>

                                <th class="col-md-2" style="background-color:#FF223A3A">
                                  <span class="textgray  smalltext  text-uppercase" style="width:auto">Date</span>
                                </th>

                                                      
                                <th class="col-md-3" style="background-color:#FF223A3A">
                                  <span class="textgray  smalltext  text-uppercase" style="width:auto">Actions</span>
                                </th>
                              </tr>
                            </thead>

                            <!-- Table Rows -->
                            <tr *ngFor="let corres of rowsRemoved |  paginate:configRemoved ">
                         
                              <td class="col-md-2">
                                <a [routerLink]="['/correspondencedetails']" [queryParams]="{id: corres.id }" class="smalltext text-uppercase textlightcoral restriction"><i>{{ corres.message  }}</i></a>
                              </td>

                              <td class="col-md-2">
                                <a [routerLink]="['/traderdetails']" [queryParams]="{id: corres.traderIdSender}" class="smalltext text-uppercase textlightcoral"><i>{{ corres.sender }}</i></a>
                              </td>

                              <td class="col-md-2">
                                <a [routerLink]="['/traderdetails']" [queryParams]="{id: corres.traderIdReceiver}" class="smalltext text-uppercase textlightcoral"><i>{{ corres.receiver  }}</i></a>
                              </td>

                              <td class="col-md-1 smalltextbold text-capitalize textgray">{{ corres.subject  }}</td>

                              <td class="col-md-2 smalltextbold text-capitalize textgray">{{ corres.dateSent | date:'medium' }}</td>
                                                    

                              <td class="col-md-3">

                                <!--<div class="col-md-12">-->

                                  <div class="col-md-4" style="text-align:left;margin-left:-10px;">
                                    <!-- archive the inbox mail -->
                                    <button type="button" data-target="#archiveRemoved" data-toggle="modal"
                                            class="btn btn-sm btn-warning smalltext" (click)="passToModalArchiveRemoved(corres)">
                                      <span class="glyphicon glyphicon-duplicate"></span>&nbsp;Archive
                                    </button>
                                  </div>

                                  <div class="col-md-4" style="text-align:left;margin-left:-5px;">
                                    <!-- delete the inbox mail -->
                                    <button type="button" data-target="#activateRemoved"   data-toggle="modal"
                                           class="btn btn-sm btn-warning smalltext" (click)="passToModalActivateRemoved(corres)">
                                      <span class="glyphicon glyphicon-transfer"></span>&nbsp;Activate
                                    </button>
                                  </div>

                                  <div class="col-md-4" style="text-align:left;">
                                    <!-- delete the inbox mail -->
                                    <button type="button" data-target="#deleteRemoved"   data-toggle="modal"
                                           class="btn btn-sm btn-warning smalltext" (click)="passToModalCompletellyDelete(corres)">
                                      <span class="glyphicon glyphicon-erase"></span>&nbsp;Delete
                                    </button>
                                  </div>

                                <!--</div>-->
                              </td>
                            </tr>

                          </table>

                        </div>

                        <!-- Table pagination -->
                        <div class="row col-md-12">
                          <div class="col-md-5">
                            <pagination-controls id="paginationRemoved" *ngIf="configRemoved.paging" ngDefaultControl
                                                 (pageChange)="onPageChangeRemoved($event)"
                                                 maxSize="5"
                                                 directionLinks="true"
                                                 autoHide="true"
                                                 previousLabel="Previous"
                                                 nextLabel="Next"
                                                 screenReaderPaginationLabel="Pagination"
                                                 screenReaderPageLabel="pageMes"
                                                 screenReaderCurrentLabel="You're on page"
                                                 [(ngModel)]="configRemoved.currentPage"
                                                 (numPages)="numPagesRemoved = $event"
                                                 [maxSize]="maxSizeRemoved">
                            </pagination-controls>
                          </div>
                        </div>

              </div>            
      </div>


    </div>

  </div>

</div>


<!-- MODALS -->
<!-- inbox section -->
<div class="modal fade" id="archiveInbox" tabindex="-1" role="dialog" aria-labelledby="ArchiveInbox">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">      
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Archive Inbox Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>Are you sure you want to archive this correspondence?</p>
      </div>

      <div class="modal-footer">               
          <button class="btn btn-danger" data-dismiss="modal">No</button>
          <button class="btn btn-success" (click)="archiveInbox(inboxToArchive)" data-dismiss="modal">Yes</button>        
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="removeInbox" tabindex="-1" role="dialog" aria-labelledby="RemoveInbox">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">      
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-danger"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Inbox Warning!</h4>
      </div>

      <div class="modal-body text-danger">
        <p>Are you sure you want to remove this correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="removeInbox(inboxToRemove)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<!-- sent section -->
<div class="modal fade" id="archiveSent" tabindex="-1" role="dialog" aria-labelledby="ArchiveSent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Archive Sent Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>Are you sure you want to archive this correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="archiveSent(sentToArchive)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="removeSent" tabindex="-1" role="dialog" aria-labelledby="RemoveSent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-danger"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Sent Warning!</h4>
      </div>

      <div class="modal-body text-danger">
        <p>Are you sure you want to remove this correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="removeSent(sentToRemove)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<!-- archive inbox section -->
<div class="modal fade" id="removeArchivedInbox" tabindex="-1" role="dialog" aria-labelledby="RemoveArchivedInbox">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-danger"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Archived Inbox Warning!</h4>
      </div>

      <div class="modal-body text-danger">
        <p>Are you sure you want to remove this correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="removeArchivedInbox(archivedInboxToRemove)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<!-- archive sent section-->
<div class="modal fade" id="removeArchivedSent" tabindex="-1" role="dialog" aria-labelledby="RemoveAchivedSent">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-danger"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Archive Sent Warning!</h4>
      </div>

      <div class="modal-body text-danger">
        <p>Are you sure you want to remove this correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="removeArchivedSent(archivedSentToRemove)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<!-- archive removed section -->
<div class="modal fade" id="archiveRemoved" tabindex="-1" role="dialog" aria-labelledby="archiveRemoved">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-danger"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Archive Removed Warning!</h4>
      </div>

      <div class="modal-body text-danger">
        <p>Are you sure you want to archive this removed correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="archiveRemoved(removedToArchive)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<!-- activate removed section-->
<div class="modal fade" id="activateRemoved" tabindex="-1" role="dialog" aria-labelledby="activateRemoved">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-danger"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Activate Removed Warning!</h4>
      </div>

      <div class="modal-body text-danger">
        <p>Are you sure you want to activate this removed correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="activateRemoved(removedToActivate)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<!-- delete removed section-->
<div class="modal fade" id="deleteRemoved" tabindex="-1" role="dialog" aria-labelledby="DeleteRemoved">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-danger"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Delete Removed Warning!</h4>
      </div>

      <div class="modal-body text-danger">
        <p>Are you sure you want to delete this removed correspondence?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="deleteRemoved(removedToDelete)" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>