
<div class="container col-md-12">

  <div class="row">      

              <!-- Personal Details -->
              <div class="col-md-4">

                <span class="personal panel panel-heading col-md-12 collapsed  smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapsePersonal">
                    <span class="glyphicon glyphicon-minus"></span>
                    Personal Details<span *ngIf="!hasPersonal" class="textoker"> - The system can not find any personal details for this trader!</span>
                </span>


                <div *ngIf="hasPersonal" id="collapsePersonal" class="collapse in">

                      <div class="col-md-12">

                    <div class="row">
                      <div class="panel panel-heading col-md-12 smalltext">
                        First Name:<span class="smalltext  text-uppercase text-info"> {{ personal.firstName }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="panel panel-heading col-md-12 smalltext">
                        Middle Name:
                        <span *ngIf="hasMiddleName" class="smalltext  text-uppercase text-info"> {{ personal.middleName }}</span>
                        <span *ngIf="!hasMiddleName" class="smalltext  text-uppercase textoker">No Middle Name</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="panel panel-heading col-md-12 smalltext">
                        Last Name:<span class="smalltext  text-uppercase text-info"> {{ personal.lastName }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="panel panel-heading col-md-12 smalltext">
                        Trading From:
                        <span *ngIf="hasAddress" class="smalltext  text-uppercase text-info"> {{ personal.preferredAddress.city }}</span>
                        <span *ngIf="!hasAddress" class="smalltext  text-uppercase textoker">No Address Details</span>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
     



            <!-- Contact Details -->
            <div class="col-md-5 col-md-offset-1">

                  <span class="contact panel panel-heading col-md-12 collapsed  smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseContact">
                        <span class="glyphicon glyphicon-minus"></span>
                        Preferred Contact Details<span *ngIf="!hasContact" class="textoker"> - The system can not find any contact details for this trader</span>
                  </span>


                   <div *ngIf="hasContact" id="collapseContact" class="collapse in">

                          <div class="col-md-12">

                            <div class="row">
                              <div class="panel panel-heading col-md-12 smalltext">
                                Phone:<span class="smalltext  text-uppercase text-info">{{ contact.preferredPhone.countryCode }} {{ contact.preferredPhone.cityCode }}  {{ contact.preferredPhone.number }}</span>
                              </div>
                            </div>

                            <div class="row">
                              <div class="panel panel-heading col-md-12 smalltext">
                                Email Account:<span class="smalltext  text-uppercase text-info"> {{ contact.preferredEmail.account }}</span>
                              </div>
                            </div>

                            <div class="row">
                              <div class="panel panel-heading col-md-12 smalltext">
                                Social Network:<span class="smalltext  text-uppercase text-info"> {{ contact.preferredSocialNetwork.account }}</span>
                              </div>
                            </div>


                      </div>
             
                </div>

          </div>

    </div>


    <br/>

    <div class="row">

            <!-- Current Trades -->
           <div class="panel panel-heading">

                  <span class="currenttrades panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseTrades">
                      <span class="glyphicon glyphicon-minus"></span>
                      Current Trades <span *ngIf="!hasTrades" class="textoker">- The system can not find any open trades associated with this trader!</span>
                  </span>

                 <!-- Collapsable Current Trade -->     
                 <div *ngIf="hasTrades" id="collapseTrades" class="collapse in">

                           <div class="panel-heading">

                                 <!-- Table-->
                                 <div class="row table-responsive">

                                   <table class="table table-bordered table-hover table-condensed col-md-9">

                                     <!-- Table Header -->
                                     <thead>
                                       <tr>

                                         <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                       
                                             <span class="textgray smalltext  text-uppercase" style="width:auto">Trading </span>                                        
                                         </th>

                                         <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                      
                                             <span class="textgray smalltext text-uppercase" style="width:auto">For</span>                                          
                                         </th>

                                         <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                        
                                             <span class="textgray  smalltext  text-uppercase" style="width:auto">Published </span>                                         
                                         </th>

                                         <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                           
                                             <span class="textgray  smalltext  text-uppercase" style="width:auto">Trade Status</span>                                        
                                         </th>
                                       </tr>
                                     </thead>

                                     <!-- Table Rows-->
                                     <tr *ngFor="let trade of rows |  paginate:config ">

                                       <td class="col-md-2" style="vertical-align:middle">
                                         <a [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}" class="smalltext text-uppercase textlightcoral"><i>{{ trade.name  }}</i></a>
                                       </td>

                                       <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle"> {{ trade.tradeFor  }}</td>

                                       <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle">{{ trade.datePublished | date }}</td>

                                       <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle">{{ trade.status }}</td>

                                     </tr>

                                   </table>

                                 </div>

                                 <!-- Table pagination -->
                                 <div class="row col-md-12">
                                   <div class="col-md-5">
                                     <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl
                                                          (pageChange)="onPageChange($event)"
                                                          maxSize="5"
                                                          directionLinks="true"
                                                          autoHide="true"
                                                          previousLabel="Previous"
                                                          nextLabel="Next"
                                                          screenReaderPaginationLabel="Pagination"
                                                          screenReaderPageLabel="page"
                                                          screenReaderCurrentLabel="You're on page"
                                                          [(ngModel)]="config.currentPage"
                                                          (numPages)="numPages = $event"
                                                          [maxSize]="maxSize">
                                     </pagination-controls>
                                   </div>
                                 </div>

                                 <br />

                     </div>

                   </div>

            </div>




           <!-- Trading History -->
           <div class="panel panel-heading">

                  <span class="tradinghistory panel-title collapsed  smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseHistory">
                          <span class="glyphicon glyphicon-minus"></span>
                          Trading History<span *ngIf="!hasHistory" class="textoker">- The system can not find any trading history associated with this trader!</span>
                 </span>


                  <div *ngIf="hasHistory" id="collapseHistory" class="collapse in">

                           <div class="panel-heading">

                                <!-- Table-->
                                <div class="row table-responsive">

                                <table class="table table-bordered table-hover table-condensed col-md-9">

                                  <!-- Table Header -->
                                  <thead>
                                    <tr>

                                      <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                        
                                          <span class="textgray smalltext  text-uppercase" style="width:auto">Traded </span>                                     
                                      </th>

                                      <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                      
                                          <span class="textgray smalltext text-uppercase" style="width:auto">For</span>                                       
                                      </th>

                                      <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                       
                                          <span class="textgray  smalltext  text-uppercase" style="width:auto">Published </span>                                       
                                      </th>

                                      <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                       
                                          <span class="textgray  smalltext  text-uppercase" style="width:auto">Trade Status</span>
                                        
                                      </th>
                                    </tr>
                                  </thead>

                                  <!-- Table Rows-->
                                  <tr *ngFor="let tradeHis of rowsHis |  paginate:configHis ">

                                    <td class="col-md-2" style="vertical-align:middle">
                                      <a [routerLink]="['/tradedetails']" [queryParams]="{id: tradeHis.tradeId}" class="smalltext text-uppercase textlightcoral"><i>{{ tradeHis.name  }}</i></a>
                                    </td>

                                    <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle"> {{ tradeHis.tradeFor  }}</td>


                                    <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle">{{ tradeHis.datePublished | date }}</td>

                                    <td class="col-md-2 smalltext text-capitalize textgray" style="vertical-align:middle">{{ tradeHis.status }}</td>

                                  </tr>

                                </table>

                              </div>

                               <!-- Table pagination -->
                                <div class="row col-md-12">
                                <div class="col-md-5">
                                  <pagination-controls id="paginationHis" *ngIf="configHis.paging" ngDefaultControl
                                                     (pageChange)="onPageChangeHis($event)"
                                                     maxSize="5"
                                                     directionLinks="false"
                                                     autoHide="true"
                                                     previousLabel="Previous"
                                                     nextLabel="Next"
                                                     screenReaderPaginationLabel="Pagination"
                                                     screenReaderPageLabel="page"
                                                     screenReaderCurrentLabel="You're on page"
                                                     [(ngModel)]="configHis.currentPage"
                                                     (numPages)="numPagesHis = $event"
                                                     [maxSize]="maxSizeHis">
                                </pagination-controls>
                              </div>
                            </div>

                            <br />

                        </div>

                  </div>


            </div>

    </div>

</div>