body {
    margin-top: 70px;    
}

input {
     background-color:wheat;
     color:black;
     height:auto;
     font-family:Arial;
     font-size:small;
}

button {
    width:150px;
}

.linkcolor {
    color:lightseagreen;
}

/*text styles*/
.extrasmalltext {
  font-family:Verdana;
  font-size:x-small;
}

.extrasmalltextcentred {
  font-family:Verdana;
  font-size:11px;
  text-align:center;
}


.smalltext {
  font-family:Verdana;
  font-size:small;
}

.smalltextbold {
  font-family:Verdana;
  font-size:small;
  font-weight:bold;
}

.smalltextcentred {
  font-family:Verdana;
  font-size:small;
  text-align:center;
}

.textgray {
    color:darkgray;
}


.mediumtext {
  font-family:Verdana;
  font-size:medium;
}


.mediumtextcentered {
  font-family:Verdana;
  font-size:medium;
  text-align:center;
}


.largetext {
  font-family:Verdana;
  font-size:large;
}


.largetextcentered {
  font-family:Verdana;
  font-size:large;
  text-align:center;
}


.ng-valid[required] {
  border-left: 7px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 7px solid #a94442; /* red */
}

.backgroundimg {
    background-image: url(/assets/images/backgrounds/vertical_cloth.png);
    height:50%;
    background-repeat:repeat;
    border:2px solid #292929;
}

.verticalline {
    border-left: 1px solid DarkGray;
}

.linostyle {
 list-style-type:none;
 margin-left:-35px
}

.hrstyle {
  border: 1px solid Darkgray;
}

.lineargradient {
	height:100px;
	border:1px solid black;
	padding:10px;
	background: lightyellow;

	/* Safari and Google Chrome */
	background: -webkit-linear-gradient(bottom left, Gray, Lightgray, Gray);

	/* Firefox */
	background: -moz-linear-gradient(bottom left, Gray, Lightgray, Gray);

	/* Opera */
	background: -o-linear-gradient(bottom left, Gray, Lightgray, Gray);

	/* Internet Explorer */
	background: -ms-linear-gradient(bottom left,Gray, Lightgray, Gray);

	/* W3C Standard */
	background: linear-gradient(to top right,Gray, Lightgray, Gray);
}









