
<div id="{{ cariouselId }}" class="carousel fade" data-ride="carousel" data-wrap="true">
 
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  
  <div class="carousel-inner">
    <div class="item active">
      <div *ngIf="hasImage1">
        <img src="{{ images[0].imageUrl }}" alt="">
      </div>     
    </div>

    <div class="item">
      <div *ngIf="hasImage2">
        <img src="{{ images[1].imageUrl }}" alt="">
      </div>   
    </div>

    <div class="item">
      <div *ngIf="hasImage3">
        <img src="{{ images[2].imageUrl }}" alt="">
      </div>   
    </div>
  </div>

 
  <a class="left carousel-control" href="{{ leftRight }}" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="{{ leftRight }}" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





