
<div *ngIf="!submitted" class="container col-md-12">

      <form [formGroup]="resetPasswordForm" (submit)="onResetPasswordSubmit()" *ngIf="!isSubmited">

              <div class="col-md-5 panel panel-heading footerdiv">

                    <div class="row" style="height:50px;margin-left:20px;">
                      <span class="textgray mediumtext">Reset your password</span>
                    </div>                      

                      <div class="form-group smalltextbold col-md-8" style="height:80px;">
                        Email:
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input type="email" formControlName="email" id="email" name="email" class="form-control smalltext" style="background-color:moccasin" />
                        </div>
                        <control-messages [control]="resetPasswordForm.controls.email"></control-messages>
                      </div>

                      <div class="form-group smalltextbold col-md-8" style="height:80px;">
                        New Password:
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input type="password" formControlName="newpassword" id="newpassword" name="newpassword" class="form-control smalltext" style="background-color:moccasin" />
                        </div>
                        <control-messages [control]="resetPasswordForm.controls.newpassword"></control-messages>
                      </div>

                      <div class="form-group smalltextbold col-md-8" style="height:80px;">
                        Confirm New Password
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input type="password" formControlName="confirmpassword" id="confirmpassword" name="confirmpassword" class="form-control smalltext" style="background-color:moccasin" />
                        </div>
                        <control-messages [control]="resetPasswordForm.controls.confirmpassword"></control-messages>
                      </div>

                      <div class="col-md-8 panel panel-heading" style="height:70px;margin-top:10px;">
                        <div class="col-md-6" style="text-align:right;">
                          <button id="passwordcancel" class="btn btn-warning text-uppercase smalltext" style="width:auto; height:30px;" (click)="onResetPasswordCancel()">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                          </button>
                        </div>

                        <div class="col-md-6" style="text-align:left;">
                          <button id="passwordsave" class="btn btn-success text-uppercase smalltext" type="submit" [disabled]="!resetPasswordForm.valid" style="width:auto; height:30px;">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                            Save
                          </button>
                        </div>
                      </div>

              </div>


      </form>
</div>

<my-spinner [isRunning]="isRequesting"></my-spinner>


<div *ngIf="isSubmitted">

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-heading textgray smalltext">
            You successfully have reset you credentials. Use the button below to login to your trader account.       
      </div>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <div class="smalltext" style="text-align:center">
        <button class="btn btn-success" [routerLink]="['/login']" style="width:150px">Login</button>
      </div>
    </div>
  </div>
</div>
