
<div class="container col-md-12">
    <div class="panel panel-heading footerdiv">                            
        <div class="mediumtext">
              <div class="textlightcoral panel panel-heading">
                This application is small trading application where anyone can trade their unwanted things for a wanted things.<br />
                To be able to trade for any product freely you will need to become a trader.<br />Registring to the site is free with no membership fees
              </div> 
          
              <div class="textlightcoral panel panel-heading">This web application was built using the following software development technologies:</div>

               <div class="textoker" style="margin-top:-20px;">
                  <ul>
                    <li>Angular framework version 5.0</li>
                    <li>Typescript programming language version 2.4.2</li>
                    <li>Bootstrap CSS framework version 3.3.7</li>
                    <li>NodeJS framework version 8.9.3</li>
                    <li>SystemJS framework version 2.4.1</li>
                  </ul>
                </div>
        </div>
    </div>
</div>

