
<dic class="container col-md-12">
    <div class="panel panel-heading smalltext">

        <div class="well textgray"">
            This application is EST social network with a dash of EST directory where EST members can share
            any information they can think of. Anounce anything they think needs announcing,
            share thier software development experiences or any other expirience. Share thier professional or personal live knowledge,
            but in the same time they can also find all information they need about EST.
            The EST member will need to become a member of the web site first.
        </div>

        <div class="smalltext textgray">
            <h5>
                This web application was built using the following software development technologies:
            </h5>
            <ul>
                <li>Angular 2 framework</li>
                <li>Typescript programming language.</li>
                <li>Bootstrap CSS framework</li>
                <li>NodeJS framework</li>
                <li>SystemJS framework</li>
            </ul>
        </div>
    </div>
</dic>

