
<div class="container col-md-12">
    <div class="panel panel-heading smalltext">

        <div class="well textgray">
            This application is trading application where all people can trade they unwanted things for a wanted things.
            To be able to trade frelly you will need to become a trader. Registring is free with no membership fees.           
        </div>

        <div class="smalltext textgray">
            <h5>
                This web application was built using the following software development technologies:
            </h5>
            <ul>
                <li>Angular 5 framework</li>
                <li>Typescript programming language.</li>
                <li>Bootstrap CSS framework version 3.3.7</li>
                <li>NodeJS framework</li>
                <li>SystemJS framework</li>
            </ul>
        </div>
    </div>
</div>

