
<div class="container col-md-12">
    <div class="panel panel-heading smalltext">

        <div class="well textgray">
            This application has been developed by Mirko Srbinovski at MasoApps company.
            Address: 12 Hauiley Place, 4116 Calamvale, QLD , Australia
        </div>

        <div class="smalltext textgray">
            <h5>
                For any technical dificulties or any complains or just to talk to us contact us on:
            </h5>
            <ul>
                <li>Work: 07 311 99634, Home: 07 32761415, Mobile: 0421949379 </li>       
              <li> srbinovskimirko@gmail.com</li>       
            </ul>
        </div>
    </div>
</div>

