
<dic class="container col-md-12">
    <div class="panel panel-heading smalltext">

        <div class="well textgray">
            This application has been developed by the Pre-fill midrange team.
        </div>

        <div class="smalltext textgray">
            <h5>
                For any technical dificulties or any complains or just to talk to us contact:
            </h5>
            <ul>
                <li>Mirko Srbinovski Phone:07 311 99634</li>
                <li>Trung Ton Phone: 07 311 XXXXX</li>
                <li>Peter Puglisi Phone: 07 311 XXXXX</li>
            </ul>
        </div>
    </div>
</dic>

