
<div class="container col-md-12">
    <div class="panel panel-heading footerdiv">       
        <div class="mediumtext textgray">
              <span class="textlightcoral">This application has been developed by Mirko Srbinovski at MasoApps company.</span>
              <div class="textoker panel panel-heading">
                  <ul>
                    <li> Address:
                        <div>12 Hailey Place,</div>
                        <div>4116 Calamvale,</div>
                        <div>QLD, Australia</div>
                    </li>
                  </ul> 
              </div>              
              <span class="textlightcoral">For any technical dificulties or any complains or just to talk to us contact us on:</span>
              <div class="textoker  panel panel-heading">
                    <ul>
                      <li>Work:   +61 7 311 99634</li>
                      <li>Home:  +61 7 32761415</li>
                      <li>Mobile: +61 0421949379 </li>
                      <li>Email: srbinovskimirko@gmail.com</li>
                    </ul>
              </div>
          </div>
    </div>
</div>

