<div style="height:100%; width:100%;">

  <header class="container">

    <div id="menu" class="navbar navbar-default navbar-fixed-top col-md-10 col-md-offset-1">
          <div class="navbar-header text-center">
              <!-- make the navigation to disapear when screen too small with
              the class nab-vbar-toggle and introducing the 2 new attributes
              'data-toggle' and 'data-target' targeting the navigation and colapse event
              -->
            <div id="logo">
                     <h4><i style="margin-left:20px;">iTrade</i></h4>
            </div>
            <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>

          <!-- make the menu hidden when the screen is too small with class "navbar-collapse collapse" -->
          <div id="nav" class="navbar-collapse collapse  navbar-right" >
                <ul class="nav navbar-nav">
                    <li class="nav"><a href="" routerLink="/dashboard"><span class="textgray"><i>Dashboard</i></span></a></li>
                    <li class="nav"><a href="" routerLink="/heroes"><span class="textgray"><i>Heroes</i></span></a></li>                            
                    <li class="nav" *ngIf="!_isUserAuthenticated"><a href="" routerLink="/login"><span class="textgray"><i>Login</i></span></a></li>
                    <li class="nav" *ngIf="_isUserAuthenticated"><a href="" (click)="logOut()"><span class="textgray"><i>Logout</i></span></a></li>
                </ul>
          </div>
    </div>

  </header>

  <!-- logged in user section -->
  <div class="container">
    <div *ngIf="_isUserAuthenticated" class="col-md-10 col-md-offset-1">
      <label class="text-info">Logged on as:  {{ _userSession.userIdentity.name }}</label>
    </div>
  </div>

    
  <main class="container col-md-10 col-md-offset-1"  style="margin-top:20px;">
 
      <!-- the page title control -->
      <page-title #pageTitleComponent></page-title>
      <!-- the process message control -->
      <process-messages #messagesComponent></process-messages>
      <!-- the views slot -->
      <section class="navbar-default" style="padding-bottom:30px;padding-top:30px;">
        <router-outlet></router-outlet>
      </section>   

  </main>


  <!-- the bottom part of the web site-->  
  <div class="backgroundimg col-md-10 col-md-offset-1"  style="margin-top:10px">

        <div class="row">

                  <div class="smalltextcentred" style="background:transparent;  margin:0 auto;">
                    <hr class="hrstyle" />
                  </div>

                  <table style="background:transparent; width:75%; margin:auto;">
                    <thead>
                      <tr>
                        <th class="col-md-3 extrasmalltextcentred textgray">Information</th>
                        <th class="col-md-3 extrasmalltextcentred textgray">Help</th>
                        <th class="col-md-3 extrasmalltextcentred textgray">Contact</th>
                        <th class="col-md-3 extrasmalltextcentred textgray">Miscelenius</th>
                      </tr>
                    </thead>
                    <br />
                    <tr class="">
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">About</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">Help</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['Contact']">Contact</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">Miscelenius</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">About</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">Help</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['Contact']">Contact</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">Miscelenius</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">About</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">Help</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred"></td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">Miscelenius</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">About</a>
                      </td>
                      <td class="col-md-3 extrasmalltextcentred"></td>
                      <td class="col-md-3 extrasmalltextcentred"></td>
                      <td class="col-md-3 extrasmalltextcentred">
                        <a class="textgray" href="" [routerLink]="['About']">Miscelenius</a>
                      </td>
                    </tr>
                  </table>

        </div>
        

        <div class="row"  style="padding-bottom:20px; padding-top:40px;">
          <div class="extrasmalltextcentred" style="background:transparent; margin:0 auto;">
            <hr class="hrstyle" />
            <strong>
              <span>
                <i class="glyphicon glyphicon-copyright-mark"></i>
              </span>&nbsp; Mirko Srbinovski 2018
            </strong>
          </div>
        </div>

  </div>

  
 <!-- modal component which will need to come up when user not authenticated and not allowed-->
  <modal-component #modalComponent></modal-component>

</div>
