
.routerdiv { padding-bottom:30px;padding-top:30px; border-width:medium; border-color:darkgray;}
.footerdiv {border-width:medium;border-color:darkgray;}
.pagetitlediv {border-width:medium; border-color:darkgray;}