  <!-- example of reactive forms -->
  <form *ngIf="!isSubmitted" [formGroup]="addForm" (submit)="saveTrade()">

    <div class="container col-md-12">

      <div class="row">

                <!-- fields -->
                <div class="col-md-5 panel panel-heading footerdiv">

                  <div class="row col-md-12">
                    <span class="textlightcoral smaltet text-uppercase"> Trade Details</span>
                  </div>

                  <div class="row col-md-12 container" style="margin-top:10px;">

                    <div class="col-md-5 col-md-offset-1">
                                        
                        <div class="row form-group col-md-12 smalltextbold">
                          Name:
                          <input type="text" formControlName="trading" id="trading" required class="form-control" style="background-color:moccasin;">
                          <control-messages [control]="addForm.controls.trading"></control-messages>
                        </div>                     

                   
                        <div class="row form-group col-md-12 smalltextbold">
                          Description:
                          <textarea formControlName="description" id="description" class="form-control text-comment" required autoGrow style="background-color:moccasin; height:40px"></textarea> <!--  [(ngModel)]="taskDescription"> -->
                          <control-messages [control]="addForm.controls.description"></control-messages>
                        </div>                   

                           
                        <div class="row form-group col-md-12 smalltextbold">
                          Category:
                          <select formControlName="category" id="category" name="category" class="form-control" style="background-color:moccasin;" (ngModelChange)="onCategoryChange($event)">                         
                            <option *ngFor="let category of categories" [ngValue]="category"> {{ category.categoryDescription }}</option>
                          </select>
                          <control-messages [control]="addForm.controls.category"></control-messages>
                        </div>              

                        
                        <div class="row form-group col-md-12 smalltextbold">
                          Subcategory:
                          <select formControlName="subcategory" id="category" name="subcategory" class="form-control" style="background-color:moccasin;">
                            <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory">{{ subcategory.subcategoryDescription }}</option>
                          </select>
                          <control-messages [control]="addForm.controls.subcategory"></control-messages>
                        </div>                   

                     
                        <div class="row form-group col-md-12 smalltextbold">
                          Trading For:
                          <input type="text" formControlName="tradingfor" id="tradingfor" required class="form-control" style="background-color:moccasin;">
                          <control-messages [control]="addForm.controls.tradingfor"></control-messages>
                        </div>         

                    </div>


                    <div class="col-md-5 col-md-offset-1">
                   
                        <div class="row form-group col-md-12 smalltextbold">
                          State:
                          <select formControlName="state" id="state" name="state" class="form-control" style="background-color:moccasin;" (ngModelChange)="onStateChange($event)">
                            <option *ngFor="let state of states" [ngValue]="state"> {{ state.name }}</option>
                          </select>
                          <control-messages [control]="addForm.controls.state"></control-messages>
                        </div>                   

                     
                        <div class="row form-group col-md-12 smalltextbold">
                          Place:
                          <select formControlName="place" id="place" name="place" class="form-control" style="background-color:moccasin;" (ngModelChange)="onPlaceChange($event)">
                            <option *ngFor="let place of places" [ngValue]="place">{{ place.name }}</option>
                          </select>
                          <control-messages [control]="addForm.controls.place"></control-messages>
                        </div>                   

                      
                        <div class="row form-group col-md-12 smalltextbold">
                          Postcode:
                          <select formControlName="postcode" id="postcode" name="postcode" class="form-control" style="background-color:moccasin;" (ngModelChange)="onPostcodeChange($event)">
                            <option *ngFor="let postcode of postcodes" [ngValue]="postcode">{{ postcode.number }}</option>
                          </select>
                          <control-messages [control]="addForm.controls.postcode"></control-messages>
                        </div>                   


                         
                        <div class="row form-group col-md-12 smalltextbold">
                          Suburb:
                          <select formControlName="suburb" id="suburb" name="suburb" class="form-control" style="background-color:moccasin;">
                            <option *ngFor="let suburb of suburbs" [ngValue]="suburb">{{ suburb.name }}</option>
                          </select>
                          <control-messages [control]="addForm.controls.suburb"></control-messages>
                        </div>                      

                     
                        <div class="row form-group col-md-12 smalltextbold">
                          Publish Date:
                          <my-date-picker name="publishDate" formControlName="publishDate"
                                          visibleMonth.monthTxt=""
                                          #publishDate
                                          placeholder="Select a date..."
                                          [options]="datePickerOptions"
                                          (dateChanged)="onDateChanged($event)"
                                          [locale]="currentLocale"
                                          [selDate]="selectDate">
                          </my-date-picker>
                          <control-messages [control]="addForm.controls.publishDate"></control-messages>
                        </div>                  

                    </div>
                  </div>

               </div>


                <!-- file uploads -->
                <div class="col-md-5 col-md-offset-1">

                        <div class="row col-md-12">

                              <div class="row panel panel-heading footerdiv">
                                <span class="smalltext"><span class="textlightcoral medium text-uppercase">Trade Images </span>(3 images - max 10MB each - file types: .png .gif .tif .jpeg .bmp):</span>
                              </div>                                   
                              
                              <div class="row smalltext">
                                    <!--<input type="file" ng2FileSelect [uploader]="uploader"  style="color:transparent;"  multiple  (change)="onChange($event)"/>-->                       
                                    <div id="upload_button">
                                      <label>
                                        <input type="file" ng2FileSelect [uploader]="uploader"  style="color:transparent;"  multiple  (change)="onChange($event)">
                                        <span class="btn btn-primary">Upload files</span>
                                      </label>
                                    </div>
                              </div>   
                           
                        </div>


                        <div class="row col-md-12 mediumtext">
                             
                                <div *ngIf="isMessageVisible" class="row panel panel-heading textoker" >{{ fileErrorMessage }}</div>
                                <br />
                                <div class="row">
                                  <span>Upload queue</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <span>Queue length: {{ uploader?.queue?.length }}</span>
                                </div>


                                <div class="row">

                                  <table class="table">

                                    <thead>
                                      <tr class="smalltext">
                                        <th width="30%">Name</th>
                                        <th>Size</th>
                                        <!--<th>Progress</th>-->
                                        <th>Status</th>
                                        <th style="text-align:center;">Actions</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr *ngFor="let item of uploader.queue">
                                        <td><label class="textoker smalltext">{{ item?.file?.name }}</label></td>
                                        <!--<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>-->
                                        <td nowrap class="textoker smalltext">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

                                        <td *ngIf="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                       </td>

                                        <td class="text-center smalltext">
                                          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                          <span *ngIf="item.isReady"><i class="glyphicon glyphicon-cloud-upload"></i></span>
                                        </td>

                                        <td nowrap class="text-center">
                                          <!-- upload button single file in  this case we do not allow that -->
                                          <!--<button type="button" class="btn btn-success btn-xs" (click)="uploadSingleFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                         </button>-->
                                          <!-- cancel button single file -->
                                          <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                          </button>
                                          <!-- remove button single file -->
                                          <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item)">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>

                                  </table>

                                </div>

                                <!-- Upload multiple -->
                                <div class="row">
                                        <div>
                                          <label class= "textgray  mediumtext">Queue progress:</label>
                                          <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                          </div>
                                        </div>
                                        <!-- we do not allow to upload all as we want to do it when we add the trade -->
                                        <!--<button type="button" class="btn btn-success btn-s"
                                          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                        </button>-->                                                   
                                        <button type="button" class="btn btn-warning btn-s smalltext" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                        </button>
                                        <button type="button" class="btn btn-danger btn-s smalltext" (click)="removeAllFiles()" [disabled]="!uploader.queue.length">
                                              <span class="glyphicon glyphicon-trash small"></span> Remove all
                                        </button>
                                </div>

                        </div>
              
                        <!-- Submit button -->
                        <div class="row col-md-12 smalltext" style="margin-top:20px;">
                             <div class="row" style="text-align:left;">
                                <button type="submit" class="btn btn-success smalltext" style="width:auto;" [disabled]="!addForm.valid || !hasImages">Post Trade</button>
                              </div>
                        </div>

                </div>

      </div>       

   </div>
               
</form> 


<my-spinner [isRunning]="isRequesting"></my-spinner>
