

  <!-- example of reactive forms -->
  <form *ngIf="!isSubmitted" [formGroup]="addForm" (submit)="saveTrade()">

    <div class="container col-md-12">

      <div class="row">

        <div class="col-md-6">

          <div class="row smalltext">
            <div class="panel panel-heading col-md-3"><span>Name:</span></div>

            <div class="form-group col-md-6">
              <input type="text" formControlName="trading" id="trading" required class="form-control" style="background-color:moccasin;">
              <control-messages [control]="addForm.controls.trading"></control-messages>
            </div>
          </div>


          <div class="row smalltext">
            <div class="panel panel-heading col-md-3"><span>Description:</span></div>

            <div class="form-group col-md-6">
              <textarea formControlName="description" id="description" class="form-control text-comment" required autoGrow style="background-color:moccasin; height:40px"></textarea> <!--  [(ngModel)]="taskDescription"> -->
              <control-messages [control]="addForm.controls.description"></control-messages>
            </div>
          </div>


          <div class="row smalltext">
            <div class="panel panel-heading col-md-3"><span>Category:</span></div>

            <div class="form-group col-md-6">
              <select formControlName="category" id="category" name="category" class="form-control">
                <option value="">Select</option>
                <option *ngFor="let category of categories" [ngValue]="category.categoryId">
                  {{ category.categoryDescription }}
                </option>

              </select>
              <control-messages [control]="addForm.controls.category"></control-messages>
            </div>
          </div>


          <div class="row smalltext">
            <div class="panel panel-heading col-md-3"><span>Trading For:</span></div>

            <div class="form-group col-md-6">
              <input type="text" formControlName="tradingfor" id="tradingfor" required class="form-control" style="background-color:moccasin;">
              <control-messages [control]="addForm.controls.tradingfor"></control-messages>
            </div>
          </div>


          <div class="row smalltext">
            <div class="panel panel-heading col-md-3"><span>Publish Date:</span></div>

            <div class="form-group col-md-6">
              <my-date-picker name="publishDate" formControlName="publishDate"
                              visibleMonth.monthTxt=""
                              #publishDate
                              placeholder="Select a date..."
                              [options]="datePickerOptions"
                              (dateChanged)="onDateChanged($event)"
                              [locale]="au"
                              [selDate]="selectDate">
              </my-date-picker>

            </div>
          </div>


          <div class="row smalltext">
            <div class="panel panel-heading col-md-3" style="text-align:center;">
              <button type="submit" class="btn btn-danger smalltextbold" style="width:auto;" [disabled]="!addForm.valid || !hasImages">Add Trade</button>
            </div>
          </div>
        </div>

        <!-- file uploads -->
        <div class="col-md-6">

          <div class="row col-md-12">
                <div class="row panel panel-heading">
                  <span class="smalltext">Trade Images (3 images - max 10MB each - file types: .png .gif .tif .jpeg .bmp):</span>
                </div>            
                <div class="row">
                  <input type="file" ng2FileSelect [uploader]="uploader"  style="color:transparent;"  multiple  (change)="onChange($event)"/>           
                </div>          
          </div>

          <div class="row col-md-12 smalltext">
            <br />
            <div *ngIf="isMessageVisible" class="row panel panel-heading textoker" >{{ fileErrorMessage }}</div>
            <br />
            <div class="row">
              <span>Upload queue</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span>Queue length: {{ uploader?.queue?.length }}</span>
            </div>


            <div class="row">

              <table class="table">

                <thead>
                  <tr class="smalltext">
                    <th width="30%">Name</th>
                    <th>Size</th>
                    <!--<th>Progress</th>-->
                    <th>Status</th>
                    <th style="text-align:center;">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td><label class="textoker smalltext">{{ item?.file?.name }}</label></td>
                    <!--<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>-->
                    <td nowrap class="textoker smalltext">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                   </td>

                    <td class="text-center smalltext">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                      <span *ngIf="item.isReady"><i class="glyphicon glyphicon-cloud-upload"></i></span>
                    </td>


                    <td nowrap class="text-center">
                      <!-- upload button single file in  this case we do not allow that -->
                      <!--<button type="button" class="btn btn-success btn-xs" (click)="uploadSingleFile(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                     </button>-->
                      <!-- cancel button single file -->
                      <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <!-- remove button single file -->
                      <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item)">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                    </td>
                  </tr>
                </tbody>

              </table>

            </div>

            <!-- Upload multiple -->
            <div class="row">
              <div>
                <label class="smalltext textgray  smalltext">Queue progress:</label>
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <!-- we do not allow to upload all as we want to do it when we add the trade -->
              <!--<button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>-->
              <button type="button" class="btn btn-warning btn-s smalltext" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
              </button>
              <button type="button" class="btn btn-danger btn-s smalltext" (click)="removeAllFiles()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash small"></span> Remove all
              </button>
            </div>

          </div>

        </div>
      </div>       

      </div>
               
</form> 

<div *ngIf="isSubmitted" class="row col-md-12">
     <app-tradedetails></app-tradedetails>                     
</div>

<my-spinner [isRunning]="isRequesting"></my-spinner>
