
<div class="container col-md-12">

  <div *ngIf="receivedCorres != null">

    <!-- DETAILS -->
     <div  class="row">

           <div class="col-md-3 col-md-offset-1 panel panel-heading footerdiv">

                 <div class="corresdetails collapsed  smalltext text-uppercase">
                    <span class="textlightcoral"> Correspondence Details</span>
                   <span *ngIf="!hasCorres == null" class="textoker">- The system can not find any details for the correspondence!</span>
                 </div>


             <div id="corresDetails" style="margin-top:20px;">

               <div *ngIf="isReceiver" class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   Status:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.statusReceiver }}</span>
                 </div>
               </div>

               <div *ngIf="isSender" class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   Status:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.statusSender }}</span>
                 </div>
               </div>

               <div class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   Subject:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.message }}</span>
                 </div>
               </div> 

               <div class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   About Trade:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.subject }}</span>
                 </div>
               </div>

               <div class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   With Id:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.tradeId }}</span>
                 </div>
               </div>

               <div *ngIf="isReceiver" class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   From Trader:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.sender }}</span>
                 </div>
               </div>

               <div *ngIf="isSender" class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   Send To:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.receiver }}</span>
                 </div>
               </div>

               <div class="row">
                 <div class="panel panel-heading col-md-12 mediumtext">
                   Sent on:<span class="text-uppercase text-info smalltext"> {{ receivedCorres.dateSent | date }}</span>
                 </div>
               </div>
                                      
             </div>

          </div>
        

           <div class="col-md-6 col-md-offset-1">

                   <div class="row">
                      <div class="panel panel-heading col-md-12 smalltext textlightcoral text-uppercase">
                          Message content:
                      </div>
                   </div>

                  <div class="row">                   
                        <div class="panel panel-heading col-md-12 ">
                                <div  class="form-control smalltext" id="receivedContent"
                                        style="width:inherit;background-color:moccasin;white-space: normal; text-align: justify;-moz-text-align-last: left; text-align-last: left;height:120px;" 
                                        wrap="soft"  rows="7" maxlength="500" readonly> 
                                </div>
                                <input type="hidden"  id="hiddencontrol" value="{{ receivedCorres.content }}"/>
                        </div>
                  </div>

                  <!-- BUTTONS -->
                  <div *ngIf="isReceiver " class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success mediumtext" style="width:auto; height:auto;" id="Reply" (click)="WriteCorres()"  
                                data-target="#writeMessage" data-toggle="collapse">Reply</button>
                        </div>              
                  </div>

                 <br/>

           
                  <!-- REPLY -->
                 <div id="writeMessage" class="row collapse footerdiv">

                         <form [formGroup]="sendCorresGroup" (submit)="sendCorres()">

                             <div class="panel panel-heading col-md-12">
                               <textarea formControlName="content" id="content" class="form-control smalltext" style="width:inherit;" rows="7" 
                                         spellcheck="true" maxlength="500" placeholder="Write your message here...">

                               </textarea>
                               <control-messages [control]="sendCorresGroup.controls.content"></control-messages>  
                                <span id="characterCount" class="smalltext textgray"></span>
                             </div>

                             <div class="col-md-5">
                               <button id="Send" class="btn btn-success smalltext" type="submit" style="width:auto; height:auto;" value="Send" disabled>Send</button>
                             </div>

                         </form>
                    </div>
            </div>     
      </div>   
  </div>



  <!-- NO DETAILS SECTION-->
  <div *ngIf="receivedCorres == null">
       
       <div class="panel panel-heading col-md-12 ">
         <span class="smalltext textoker text-uppercase">The system can not find the details of that correspondence!</span>
       </div>

  </div>

</div>
