        <!-- expandable help -->
<div class="row panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-body">

    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Expand for Help
      </a>
    </h4>

    <div id="collapseOne" class="panel textgray panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        Please provide all required information needed (marked in red) to register to the application.
        <ul>
          <li>The name should contain your first and second name only and with maximum of 50 characters in length. </li>
          <li>Your username will be your email account. </li>
          <li>The application will allow email of 70 characters in length".</li>
          <li>The password should be between 6 and 10 character in length and should contain at least one numeric character and one upper case character.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-body">

    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Expand for Help
      </a>
    </h4>

    <div id="collapseTwo" class="panel textgray panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

        Please provide all required information needed (marked in red) to register to the application.
        <ul>
          <li>The name should contain your first and second name only and with maximum of 50 characters in length. </li>
          <li>Your username will be your email account. </li>
          <li>The application will allow email of 70 characters in length".</li>
          <li>The password should be between 6 and 10 character in length and should contain at least one numeric character and one upper case character.</li>
        </ul>
      </div>
    </div>
  </div>

</div>
