<div *ngIf="!isSubmited" class="container col-md-12">
      <div class="row">  
            <div class="col-md-5 panel panel-heading footerdiv">

                    <form [formGroup]="forgotForm" (submit)="onForgotPasswordRequest()">

                            <div class="col-md-offset-1 mediumtext">Please provide your email account below:</div>

                            <div class="row form-group smalltext col-md-offset-1" style="height:60px;margin-top:20px;">
                                    <div class="input-group col-md-10">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                            <input type="email" formControlName="emailaccount" id="emailaccount" name="emailaccount" 
                                                   maxlength="70" placeholder="Your Email Account" 
                                                   required class="form-control smalltextbold" 
                                                   style="background-color:moccasin;">
                                    </div>
                                     <control-messages [control]="forgotForm.controls.emailaccount"></control-messages>
                            </div>

                          
                            <div class="col-md-offset-1" style="height:60px;">
                              <button id="phonesave" class="btn btn-success text-uppercase smalltext" type="submit" [disabled]="!forgotForm.valid" style="width:auto; height:30px;">
                                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Send
                              </button>
                            </div>
            

                    </form>
            </div>
        </div>
</div>

<my-spinner [isRunning]="isRequesting"></my-spinner>


<div *ngIf="isSubmited">

  <div class="row">

      <div class="col-md-8">
              <div class="panel panel-heading textgray smalltext">
               A request to change your credentials has been recieved:
                <ul>
                  <li> Email confirmation has been sent to your nominated accout  <span class="textoker">{{ model.Email  }}</span>. </li>
                  <li> Please check your email and follow the instructions.</li>
                  <li> After the confirmation, please use the "Reset Password" button to change your credentials.</li>
                </ul>
              </div>
      </div>

      <div class="col-md-2 col-md-offset-1">
            <div class="smalltext" style="text-align:center">
              <button class="btn btn-success" [routerLink]="['/resetpassword']" style="width:150px">Reset Password</button>
            </div>
      </div>
  </div>

</div>


