
 <!--<div class="container col-md-12" style="background-color:green">-->

      <!--<div class="container justify-content-md-center col-md-12 ">-->

              <!--<div id="accordion" class="panel-group col-4" *ngFor="let trade of trades | SortTradesByDatePipe: D  | TopTradesPipe: 8">-->

                   

                            <div class="panel-group col-md-3" *ngFor="let trade of trades | SortTradesByDatePipe: D  | TopTradesPipe: 8">


                              <div class="panel-heading" style="background-color:dimgray;">
                                <strong>
                                  <label class="textwhite restriction">
                                    Title: {{ trade.title }}
                                  </label>
                                </strong>
                              </div>


                              <div class="panel-footer">
                                <div>
                                  <strong class="textgray">Category: </strong><span class="textgray">{{ trade.categoryType }}</span>
                                </div>
                                <div>
                                  <strong class="textgray">Trader:</strong>
                                  <a href="" [routerLink]="['Trader', {id: trade.traderId}]"><label class="text-info restrictionname">{{ trade.traderName }}</label></a>
                                </div>

                                <div style="margin-top:15px;">
                                  <css-carousel style="align-content:center;" id="{{ trade.tradeId }}" [tradeId]="trade.tradeId"></css-carousel>
                                </div>
                              </div>


                              <div class="panel-footer">
                                <div> <strong class="textgray">Published: </strong><span class="textgray">{{ trade.datePublished  }}</span></div>
                                <div> <a href="" [routerLink]="['Trade', {id: trade.tradeId}]" class="text-info" style="text-decoration:underline">Go to trade...</a></div>
                              </div>

                            </div>

                  
              <!--</div>-->

      <!--</div>-->

 <!--</div>-->

    <!--<my-spinner [isRunning]="isRequesting"></my-spinner>-->




<!-- colapsable panels with info -->
<!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>-->