                                     
<div class="panel-group col-md-4 col-lg-3 col-sm-5" *ngFor="let trade of trades | SortTradesByDatePipe: D">

          <div class="panel-heading" style="background-color:dimgray;">              
                   <span class="smalltextbold textwhite restriction">
                              <strong>Trading a 
                                  <a href="" [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}" class="smalltext text-uppercase textlightcoral">{{ trade.tradeObjectDescription }}</a>
                            </strong>
                   </span>                                                                                                               
          </div>

          <div class="panel-footer">               
                <div>
                  <strong class="textgray">Category: </strong>
                  <span class="text-uppercase text-info">{{ trade.tradeObjectCategoryDescription }}</span>
                </div>       
                <div>
                  <strong class="textgray">Will trade for:</strong>
                  <span class="text-uppercase text-info">{{ trade.tradeForObjectsDescription }}</span>
                </div>
                <div style="margin-top:15px;">
                  <carousel style="align-content:center;" id="{{ trade.tradeId }}" [tradeId]="trade.tradeId"  (onErrorPicked)="ChangeIsRequesting($event)" [tradeImages]="trade.images"></carousel>               
                </div>
          </div>

          <div class="panel-footer">
                
                <div> 
                    <strong class="textgray">Published: </strong>
                    <span class="text-uppercase text-info">{{ trade.tradeDatePublished  | date }}</span>
                </div>          
            <div>              
                  <strong class="textgray">Trader:</strong>              
                  <a href="" [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}" class="smalltext textlightcoral restriction">{{ trade.traderFullName }}</a>             
            </div>      
                   
        </div>
</div>
 
                      
<my-spinner [isRunning]="isRequesting"></my-spinner>

                