<div class="container col-md-12">

      <div class="row">

         <!-- PERSONAL DETAILS -->
          <div *ngIf="trade != null" class="col-md-3" >

              <div class="row">
                <div class="panel panel-heading col-md-12 smalltext">
                  Status:<span class="text-uppercase text-info"> {{ trade.status }}</span>
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12 smalltext">
                  Trading:<span class="text-uppercase text-info"> {{ trade.name }}</span>
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading smalltext">
                                      
                      <span class="description panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseDescription">
                        <span class="glyphicon glyphicon-plus"></span> Trade Description
                      </span>
                           
                  <!-- colapsable description -->
                    <div id="collapseDescription" class="collapse smalltext textgray">
                        <div class="panel-heading text-info"> {{ trade.description}}                                  
                        </div>
                  </div>

                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12 smalltext">
                  Trading for:<span class="text-uppercase text-info"> {{ trade.tradeFor }}</span>
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12 smalltext">
                  Category: <span class="text-uppercase text-info"> {{ trade.categoryDescription }} / {{ trade.subcategoryDescription }}</span> 
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12 smalltext">
                  Date Published: <span class="text-uppercase text-info"> {{ trade.datePublished | date }}</span> 
                </div>
              </div>


              <div class="row">
              <div class="panel panel-heading col-md-12 smalltext">
                Place: <span class="text-uppercase text-info"> {{ trade.place }} / {{ trade.state }} </span>
              </div>
            </div>


              <div class="row">
                <div class="panel panel-heading col-md-12 smalltext">
                  Trader: <a [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}" class="smalltext textlightcoral text-uppercase"><span> <i>{{ trade.traderFullName }}</i></span></a>                    
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12 smalltext" style="text-align:center;">

                  <div *ngIf="!isAuthenticated">                   
                    <button type="button" data-target="#addremoveLogin" data-toggle="modal" class="btn btn-success btn-sm smalltext" style="width:200px"> Start Trading </button>                                                
                  </div>

                  <div *ngIf="isAuthenticated">

                    <div *ngIf="canTrade">  
                        <button type="button" [routerLink]="['/correspondenceall']" [queryParams]="{id: trade.tradeId}" class="btn btn-success btn-sm smalltext" style="width:200px"> Start Trading</button>            
                    </div>     
                    <div *ngIf="!canTrade">  
                          <button type="button" data-target="#canNotTrade" data-toggle="modal" class="btn btn-success btn-sm smalltext" style="width:200px"> Start Trading</button>                   
                    </div>     

                  </div>

                </div>
            </div>

         </div>

        <div *ngIf="trade == null" class="personal panel panel-heading smalltext text-uppercase col-md-3 smalltext">
          Trade Details<span class="textoker"> - The system can not find any personal details for this trade!</span>
        </div>



         
          <div class="col-md-8 col-md-offset-1 panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- IMAGES -->
            <div class="row panel panel-heading smalltext">

              <span class="images panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseImages">
                <span class="glyphicon glyphicon-minus"></span> Trade Images
                <span *ngIf="!hasImages" class="textoker">- The system can not find images for your trade!</span>
              </span>

              <!-- collapsable trade images -->
              <div *ngIf="hasImages" id="collapseImages" class="collapse in">

                <div class="container panel panel-heading col-md-12">

                  <div class="col-md-4">
                    <div *ngIf="hasImage1">
                      <!-- TODO individual check of image 1, 2,3 -->
                      <img src="{{ images[0].imageUrl }}" alt="" style="height: 250px;width: 250px;">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div *ngIf="hasImage2">
                      <img src="{{ images[1].imageUrl }}" alt="" style="height: 250px;width: 250px;">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div *ngIf="hasImage3">
                      <img src="{{ images[2].imageUrl }}" alt="" style="height: 250px;width: 250px;">
                    </div>
                  </div>

                </div>

              </div>

            </div>



            <!-- HISTORY -->
            <div class="row panel panel-heading">

              <span class="history panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseHistory">
                <span class="glyphicon glyphicon-minus"></span> Viewing History (max 10)
                <span *ngIf="!hasHistory" class="textoker">- The system can not find any history for your trade!</span>
              </span>

              <!-- collapsable trade history , history will minimum one record when trade is created-->
              <div *ngIf="hasHistory"  id="collapseHistory" class="collapse in">

                <div class="panel-heading">

                  <!-- Table -->
                  <div class="row table-responsive">

                    <table class="table table-bordered table-hover">

                      <!-- Table header -->
                      <thead>
                        <tr>
                          

                          <th class="col-md-1" style="background-color:#FF223A3A">
                            <span class="text-uppercase textgray smalltext" style="vertical-align:middle;width:auto;">Trade Id</span>
                          </th>

                          <th class="col-md-3" style="background-color:#FF223A3A">
                            <a (click)="sortTable('createdDate')" class="text-uppercase textgray smalltext" style="width:auto">
                              Created Date
                              <span *ngIf="isDateAsc" class="glyphicon glyphicon-chevron-down"></span>
                              <span *ngIf="!isDateAsc" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                          </th>

                          <th class="col-md-2" style="background-color:#FF223A3A">
                            <a (click)="sortTable('status')" class="text-uppercase textgray smalltext" style="width:auto">
                              Action                        
                            </a>
                          </th>

                          <th class="col-md-1" style="background-color:#FF223A3A">
                            <span class="text-uppercase textgray smalltext" style="vertical-align:middle;width:auto;">Viewer</span>
                          </th>

                        </tr>
                      </thead>

                      <!-- Table rows-->
                      <tr *ngFor="let history of rows | paginate:config ">

                   

                        <td class="col-md-1 smalltext text-capitalize textgray "> {{ history.tradeId }}</td>

                        <td class="col-md-3 smalltext text-capitalize textgray">{{ history.createdDate | date:'medium'  }}</td>

                        <td class="col-md-2 smalltext text-capitalize textgray">{{ history.status}}</td>

                        <td class="col-md-1 smalltext text-capitalize textgray">{{ history.viewer  }}</td>
                      </tr>

                    </table>

                  </div>


                  <!-- Table navigation -->
                  <div class="row col-md-12">

                    <div class="col-md-5">

                      <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl
                                           (pageChange)="onPageChange($event)" 
                                           maxSize="5"
                                           directionLinks="true"
                                           autoHide="true"
                                           previousLabel="Previous"
                                           nextLabel="Next"
                                           screenReaderPaginationLabel="Pagination"
                                           screenReaderPageLabel="page"
                                           screenReaderCurrentLabel="You're on page"
                                           [(ngModel)]="config.currentPage"
                                           (numPages)="numPages = $event"
                                           [maxSize]="maxSize">
                      </pagination-controls>

                    </div>
                  </div>


                </div>

              </div>

            </div>

          </div>

     
        </div>

</div>


<my-spinner [isRunning]="isRequesting"></my-spinner>


<!-- MODAL form to show when add/remove trade is clicked and user is not logged in-->
<div class="modal fade" id="addremoveLogin" tabindex="-1" role="dialog" aria-labelledby="AddRemoveLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>You need to be logged in to do this action. Do you want to log in?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" [routerLink]="['/login']" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


<!-- MODAL form to show when user viewing hist tarde and is logged in-->
<div class="modal fade" id="canNotTrade" tabindex="-1" role="dialog" aria-labelledby="canNotTrade">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>You can not start a trade on your trade!</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">Dismiss</button>        
      </div>

    </div>
  </div>
</div>
