<div class="container col-md-12">

      <div class="row">


          <div class="col-md-3">

              <div class="row">
                <div class="panel panel-heading col-md-12">
                  Trading:<span class="smalltext  text-uppercase text-info"> {{ trade.tradeObjectDescription }}</span>
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading">
                                      
                      <span class="description panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseDescription">
                        <span class="glyphicon glyphicon-plus"></span> Trade Description
                      </span>
                           
                    <div id="collapseDescription" class="collapse smalltext textgray">

                        <div class="panel-heading">                         
                           This is a description of the object above in this  case is a sheet.<br/>
                           Coton 100% not used in the original packaging.<br/>
                           Will trade for similar stuff.<br />                                       
                        </div>
                  </div>

                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12">
                  Trading for:<span class="smalltext  text-capitalize text-info"> {{ trade.tradeForObjectsDescription }}</span>
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12">
                  Category: <span class="smalltext text-capitalize text-info"> {{ trade.tradeObjectCategoryDescription }}</span> 
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12">
                  Date Published: <span class="smalltext text-capitalize text-info"> {{ trade.tradeDatePublished | date }}</span> 
                </div>
              </div>


              <div class="row">
                <div class="panel panel-heading col-md-12">
                  Trader: <span class="textlightcoral">
                                    <a [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}" class="smalltext textlightcoral text-uppercase"><span> <i>{{ trade.traderFullName }}</i></span></a>
                              </span> 
                </div>
              </div>

            </div>


          <div class="col-md-8 col-md-offset-1 panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      

                <div class="row panel panel-heading">

                  <span class="images panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseImages">
                    <span class="glyphicon glyphicon-plus"></span> Trade Images
                 </span>             

                  <div id="collapseImages" class="collapse">
          
                      <div class="container panel panel-heading col-md-12">

                        <div class="col-md-4">
                          <div *ngIf="hasImages">
                            <img src="{{ images[0].imageUrl }}" alt="" style="height: 250px;width: 250px;">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div *ngIf="hasImages">
                            <img src="{{ images[1].imageUrl }}" alt="" style="height: 250px;width: 250px;">
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div *ngIf="hasImages">
                            <img src="{{ images[2].imageUrl }}" alt="" style="height: 250px;width: 250px;">
                          </div>
                        </div>

                      </div>

                  </div>
       
                </div>
      

                <div class="row panel panel-heading">     

                  <span class="history panel-title collapsed smalltext text-uppercase textlightcoral" data-toggle="collapse" data-target="#collapseHistory">
                    <span class="glyphicon glyphicon-plus"></span> This Trade History
                  </span>

                   <div id="collapseHistory" class="collapse">

                      <div class="panel-heading">
                        
                        <!-- Table -->
                        <div class="row">

                          <div class="table-responsive">

                            <table class="table table-bordered table-hover">

                              <!-- Table header -->
                              <thead>
                                <tr>
                                  <th class="col-md-1" style="vertical-align:middle;background-color:#FF223A3A">
                                    <span  class="text-uppercase textgray smalltext" style="vertical-align:middle;width:auto;">Id</span>                                 
                                  </th>

                                  <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">
                                    <span class="text-uppercase textgray smalltext" style="vertical-align:middle;width:auto;">Trade Id</span>                                                                                                                                                                                 
                                  </th>

                                  <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                    
                                    <a (click)="sortTable('createdDate')" class="text-uppercase buttonclass textgray smalltext" style="width:auto">
                                     Created Date
                                      <span *ngIf="isDateAsc" class="glyphicon glyphicon-chevron-down"></span>
                                      <span *ngIf="!isDateAsc" class="glyphicon glyphicon-chevron-up"></span>
                                    </a>                                                                                                                                                             
                                  </th>

                                  <th class="col-md-2" style="vertical-align:middle;background-color:#FF223A3A">                                 
                                    <a (click)="sortTable('status')" class="text-uppercase buttonclass textgray smalltext" style="width:auto">
                                     Action
                                      <span *ngIf="isStatusAsc" class="glyphicon glyphicon-chevron-down"></span>
                                      <span *ngIf="!isStatusAsc" class="glyphicon glyphicon-chevron-up"></span>
                                    </a>                             
                                  </th>
                                                               
                                </tr>
                              </thead>

                              <!-- Table rows-->
                              <tr *ngFor="let history of historyrows | paginate:config ">

                                <td class="col-md-1 smalltext text-lowercase text-capitalize textgray " style="vertical-align:middle">{{ history.historyId  }}</td>
                               
                                <td class="col-md-2 smalltext text-lowercase text-capitalize textgray " style="vertical-align:middle"> {{ history.tradeId }}</td>

                                <td class="col-md-2 smalltext text-lowercase text-capitalize textgray " style="vertical-align:middle">{{ history.createdDate | date  }}</td>

                                <td class="col-md-2 smalltext text-lowercase text-capitalize textgray " style="vertical-align:middle">{{ history.status}}</td>
                              </tr>

                            </table>

                          </div>

                        </div>

                        <!-- Table navigation -->
                        <div class="row col-md-12">

                          <div class="col-md-5">
                            
                            <pagination-controls id="pagination" *ngIf="config.paging"
                                                 (pageChange)="onPageChange($event)"
                                                 maxSize="5"
                                                 directionLinks="false"
                                                 autoHide="true"
                                                 previousLabel="Previous"
                                                 nextLabel="Next"
                                                 screenReaderPaginationLabel="Pagination"
                                                 screenReaderPageLabel="page"
                                                 screenReaderCurrentLabel="You're on page"
                                                 [(ngModel)]="config.currentPage"
                                                 (numPages)="numPages = $event"
                                                 [maxSize]="maxSize">
                            </pagination-controls>

                          </div>                      
                        </div>


                      </div>
                    </div>

              </div>

        </div>


      </div>

</div>
