
<div *ngIf="hasTrades">

         <div class="container col-md-12">

          <!-- Filters -->
          <div class="row">

            <div class="col-md-2 textgray">
              <!-- this is ngx-table filtering section used but the rest of it is independent table done by me-->
              <span class="smalltextbold">Filter in all columns</span>
              <input *ngIf="config.filtering" placeholder="Filter" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)" class="form-control" />
            </div>

            <div class="col-md-2 textgray">
              <span class="smalltextbold">Items Per Page</span>
              <input type="number" min="1" max="{{recordsPerSet -1}}" [(ngModel)]="config.itemsPerPage" class="form-control">
            </div>

            <div class="col-md-2 textgray">
              <span class="smalltextbold">Current Page</span>
              <input type="number" min="1" [(ngModel)]="config.currentPage" class="form-control">
            </div>

            <div class="col-md-1 textgray">
              <span class="smalltextbold">Max Size</span>
              <input type="number" min="5" max="100" [(ngModel)]="maxSize" class="form-control">
            </div>

            <!--<div class="col-md-2 textgray">
              <span class="smalltextbold">Records Per Set</span>
              <input type="number" min="5" max="500" [(ngModel)]="recordsPerSet" class="form-control">
            </div>-->

            <div class="col-md-2 col-md-offset-3 text-right">
              <br />
              <div *ngIf="!isAuthenticated">
                <button type="button" data-target="#addremoveLogin" data-toggle="modal" class="btn btn-success btn-sm smalltextbold">
                  <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Trade
                </button>
              </div>

              <div *ngIf="isAuthenticated">
                <button class="btn btn-success btn-sm smalltextbold" (click)="addTrade()">
                  <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Trade
                </button>
              </div>

            </div>

          </div>

          <br />


          <!-- Table -->
          <div class="row">

            <div class="table-responsive">

              <table class="table table-bordered table-hover">

                <!-- Table Header -->
                <thead>
                  <tr style="height:35px;">
                    <th class="col-md-1" style="background-color:#FF223A3A">
                      <a (click)="sortTable('tradeIdStr')" class="text-uppercase textgray smalltextbold" style="width:auto">
                        Id
                        <span *ngIf="isIdAsc" class="glyphicon glyphicon-chevron-down"></span>
                        <span *ngIf="!isIdAsc" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>

                    <th class="col-md-1" style="background-color:#FF223A3A">
                      <a (click)="sortTable('tradeStatus')" class="textgray text-uppercase smalltextbold" style="width:auto">
                        Status
                        <span *ngIf="isStatusAsc" class="glyphicon glyphicon-chevron-down"></span>
                        <span *ngIf="!isStatusAsc" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>

                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <a (click)="sortTable('tradeObjectDescription')" class="textgray text-uppercase  smalltextbold" style="width:auto">
                        Trading
                        <span *ngIf="isTitleAsc" class="glyphicon glyphicon-chevron-down"></span>
                        <span *ngIf="!isTitleAsc" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>

                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <a (click)="sortTable('tradeForObjectsDescription')" class="textgray text-uppercase smalltextbold" style="width:auto">
                        For
                        <span *ngIf="isTitleForAsc" class="glyphicon glyphicon-chevron-down"></span>
                        <span *ngIf="!isTitleForAsc" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>

                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <a (click)="sortTable('tradeObjectCategoryDescription')" class="textgray text-uppercase smalltextbold" style="width:auto">
                        Category
                        <span *ngIf="isCategoryAsc" class="glyphicon glyphicon-chevron-down"></span>
                        <span *ngIf="!isCategoryAsc" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>

                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <a (click)="sortTable('traderFullName')" class="textgray text-uppercase smalltextbold" style="width:auto">
                        Trader
                        <span *ngIf="isNameAsc" class="glyphicon glyphicon-chevron-down"></span>
                        <span *ngIf="!isNameAsc" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>

                    <th class="col-md-2" style="background-color:#FF223A3A">
                      <a (click)="sortTable('tradeDatePublished')" class="textgray text-uppercase smalltextbold" style="width:auto">
                        Published
                        <span *ngIf="isPublishedAsc" class="glyphicon glyphicon-chevron-down"></span>
                        <span *ngIf="!isPublishedAsc" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>

                  </tr>
                </thead>


                <!-- Table Rows -->
                <tr *ngFor="let trade of rows  | paginate:config ">

                  <td class="col-md-1 smalltext text-capitalize textgray">{{ trade.tradeIdStr  }}</td>

                  <td class="col-md-1 smalltext text-capitalize textgray">{{ trade.tradeStatus  }}</td>

                  <td class="col-md-2">
                    <a class="smalltext text-uppercase textlightcoral" [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}"><i>{{ trade.tradeObjectDescription  }}</i></a>
                  </td>

                  <td class="col-md-2 smalltext text-capitalize textgray"> {{ trade.tradeForObjectsDescription  }}</td>

                  <td class="col-md-2 smalltext text-capitalize textgray">{{ trade.tradeObjectCategoryDescription  }}</td>

                  <td class="col-md-2">
                    <a class="smalltext text-uppercase textlightcoral" [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}"><i>{{ trade.traderFullName }}</i></a>
                  </td>

                  <td class="col-md-2 smalltext text-capitalize textgray">{{ trade.tradeDatePublished | date }}</td>

                </tr>

              </table>

            </div>

          </div>


           <!-- Table naviagtion -->
          <div class="row col-md-12">
            <div class="col-md-5">
              <pagination-controls id="pagination" *ngIf="config.paging" ngDefaultControl
                                   (pageChange)="onPageChange($event)"
                                   maxSize="5"
                                   directionLinks="false"
                                   autoHide="true"
                                   previousLabel="Previous"
                                   nextLabel="Next"
                                   screenReaderPaginationLabel="Pagination"
                                   screenReaderPageLabel="page"
                                   screenReaderCurrentLabel="You're on page"
                                   [(ngModel)]="config.currentPage"
                                   (numPages)="numPages = $event"
                                   [maxSize]="maxSize">
              </pagination-controls>
            </div>

            <div class="col-md-2 textgray">
              <span class="smalltextbold">Set of records: {{setsCounter }} of {{ totalNumberOfSets}}</span>
            </div>

            <div class="col-md-3 col-md-offset-2">
              <button *ngIf="isNextButton" (click)="nextSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Next Set</button>
              <button *ngIf="isPrevButton" (click)="previousSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Previous Set</button>
            </div>
          </div>


  </div>

</div>

<span *ngIf="hasNoTrades" class="textoker"> The system can not find any trades!</span>

<my-spinner [isRunning]="isRequesting"></my-spinner>


<!-- MODAL form to show when add/remove trade is clicked and user is not logged in-->
<div class="modal fade" id="addremoveLogin" tabindex="-1" role="dialog" aria-labelledby="AddRemoveLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Warning!</h4>     
      </div>

      <div class="modal-body text-warning">
        <p>You need to be logged in to do this action. Do you want to log in?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" [routerLink]="['/login']" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>


