


<div class="container col-md-12">

  <div class="row">

    <div class="col-md-2 textgray">
      <!-- this is ngx-table filtering section used but the rest of it is independent table done by me-->
      <span class="smalltextbold">Filter in all columns</span>
      <input *ngIf="config.filtering" placeholder="Filter" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)" class="form-control" />
    </div>

    <div class="col-md-2 textgray">
      <span class="smalltextbold">Items Per Page</span>
      <input type="number" min="1" max="{{recordsPerSet -1}}" [(ngModel)]="config.itemsPerPage" class="form-control">
    </div>

    <div class="col-md-2 textgray">
      <span class="smalltextbold">Current Page</span>
      <input type="number" min="1" [(ngModel)]="config.currentPage" class="form-control">
    </div>

    <div class="col-md-1 textgray">
      <span class="smalltextbold">Max Size</span>
      <input type="number" min="5" max="100" [(ngModel)]="maxSize" class="form-control">
    </div>

    <div class="col-md-2 textgray">
      <span class="smalltextbold">Records Per Set</span>
      <input type="number" min="5" max="500" [(ngModel)]="recordsPerSet" class="form-control">
    </div>

    <div class="col-md-2 col-md-offset-1 text-right">
      <br />
      <div *ngIf="!isAuthenticated">
        <button  type="button" data-target="#addremoveLogin" data-toggle="modal" class="btn btn-success btn-sm smalltextbold">
          <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Trade
        </button>
      </div>

      <div *ngIf="isAuthenticated">
        <button class="btn btn-success btn-sm smalltextbold" (click)="addTrade()">
          <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Trade
        </button>
      </div>

    </div>

  </div>

  <br />

  <div class="row">

    <div class="table-responsive">

      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th class="col-md-1" style="vertical-align:middle;">
              <span style="vertical-align:middle;">
                <a (click)="sortTable('tradeIdStr')" class="text-info btn btn-info text-uppercase buttonclass textwhite smalltextbold" style="width:auto">
                   Id
                  <span *ngIf="isIdAsc" class="glyphicon glyphicon-chevron-down"></span>
                  <span *ngIf="!isIdAsc" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </span>
            </th>


            <th class="col-md-2" style="vertical-align:middle;">
              <span style="vertical-align:middle;">
                <a (click)="sortTable('tradeObjectDescription')" class="text-info btn btn-info text-uppercase buttonclass textwhite smalltextbold" style="width:auto">
                  Trading
                  <span *ngIf="isTitleAsc" class="glyphicon glyphicon-chevron-down"></span>
                  <span *ngIf="!isTitleAsc" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </span>
            </th>


            <th class="col-md-2" style="vertical-align:middle;">
              <span style="vertical-align:middle;margin-left:10px;">
                <a (click)="sortTable('tradeForObjectsDescription')" class="text-info btn btn-info text-uppercase buttonclass textwhite smalltextbold" style="width:auto">
                  For
                  <span *ngIf="isTitleForAsc" class="glyphicon glyphicon-chevron-down"></span>
                  <span *ngIf="!isTitleForAsc" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </span>
            </th>

            <th class="col-md-2" style="vertical-align:middle">
              <span style="vertical-align:middle">
                <a (click)="sortTable('tradeObjectCategoryDescription')" class="text-info btn btn-info text-uppercase buttonclass textwhite smalltextbold" style="width:auto">
                  Category
                  <span *ngIf="isCategoryAsc" class="glyphicon glyphicon-chevron-down"></span>
                  <span *ngIf="!isCategoryAsc" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </span>
            </th>
            <th class="col-md-3" style="vertical-align:middle">
              <span style="vertical-align:middle">
                <a (click)="sortTable('traderFullName')" class="text-info btn btn-info text-uppercase buttonclass textwhite smalltextbold" style="width:auto">
                  Trader
                  <span *ngIf="isNameAsc" class="glyphicon glyphicon-chevron-down"></span>
                  <span *ngIf="!isNameAsc" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </span>
            </th>
            <th class="col-md-2" style="vertical-align:middle">
              <span style="vertical-align:middle">
                <a (click)="sortTable('tradeDatePublished')" class="text-info btn btn-info text-uppercase buttonclass textwhite smalltextbold" style="width:auto">
                  Published
                  <span *ngIf="isPublishedAsc" class="glyphicon glyphicon-chevron-down"></span>
                  <span *ngIf="!isPublishedAsc" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </span>
            </th>
            <!--<th class="col-md-2 smalltextbold textgray text-uppercase text-center" style="vertical-align:middle;">Actions</th>-->
          </tr>
        </thead>



        <tr *ngFor="let trade of rows  | paginate:config ">

          <td class="col-md-1 smalltext textgray text-uppercase" style="vertical-align:middle">
            <span>{{ trade.tradeId  }}</span>
          </td>


          <td class="col-md-2" style="vertical-align:middle">
            <a [routerLink]="['/tradedetails']" [queryParams]="{id: trade.tradeId}" class="smalltext text-uppercase textlightcoral">
              <span>{{ trade.tradeObjectDescription  }}</span>
            </a>
          </td>

          <td class="col-md-2 smalltext textgray text-uppercase" style="vertical-align:middle">
            <span>{{ trade.tradeForObjectsDescription  }}</span>
          </td>

          <td class="col-md-2 smalltex textgray text-uppercase" style="vertical-align:middle">{{ trade.tradeObjectCategoryDescription  }}</td>


          <td class="col-md-3" style="vertical-align:middle">
            <a [routerLink]="['/traderdetails']" [queryParams]="{id: trade.traderId}" class="smalltext textlightcoral text-uppercase">
              <span> {{ trade.traderFullName }}</span>
            </a>
          </td>

          <td class="col-md-2 smalltext textgray text-uppercase" style="vertical-align:middle">{{ trade.tradeDatePublished | date }}</td>
        </tr>

      </table>

    </div>

  </div>


  <div class="row col-md-12">
    <div class="col-md-5">
      <!--the stylesheet of the pagination is overwritten in the host component sass -->
      <pagination-controls id="pagination" *ngIf="config.paging"
                           (pageChange)="onPageChange($event)"
                           maxSize="9"
                           directionLinks="false"
                           autoHide="true"
                           previousLabel="Previous"
                           nextLabel="Next"
                           screenReaderPaginationLabel="Pagination"
                           screenReaderPageLabel="page"
                           screenReaderCurrentLabel="You're on page"
                           [(ngModel)]="config.currentPage"
                           (numPages)="numPages = $event"
                           [maxSize]="maxSize">
      </pagination-controls>
    </div>
    <div class="col-md-2 textgray">
      <span class="smalltextbold">Set of records: {{setsCounter }} of {{ totalNumberOfSets}}</span>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <button *ngIf="isNextButton" (click)="nextSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Next Set</button>
      <button *ngIf="isPrevButton" (click)="previousSetOfRecords()" class="btn btn-success btn-sm smalltextbold">Previous Set</button>
    </div>
  </div>


</div>


<my-spinner [isRunning]="isRequesting"></my-spinner>




<!-- MODAL form to show when add/remove trade is clicked and user is not logged in-->
<div class="modal fade" id="addremoveLogin" tabindex="-1" role="dialog" aria-labelledby="AddRemoveLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!-- this will introduce a x button in the corner of the modal dialog which can be used to close the dialog box -->
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Login Warning!</h4>
        <!--<h5 class="modal-title text-warning" id="AddRemoveLogin">Login Dialog</h5>-->
      </div>

      <div class="modal-body text-warning">
        <p>You need to login to do that action. Do you want to log-in/sign-in?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" [routerLink]="['/login']" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>




<!--<pagination-template #p="paginationApi" [id]="id" [maxSize]="maxSize" (pageChange)="pageChange.emit($event)">    
  <ul class="ngx-pagination"  role="navigation"  [attr.aria-label]="screenReaderPaginationLabel"  *ngIf="!(autoHide && p.pages.length <= 1)">        
    <li class="pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="directionLinks">             
    <a *ngIf="1 < p.getCurrent()" (click)="p.previous()" [attr.aria-label]="previousLabel + ' ' + screenReaderPageLabel">               
       {{ previousLabel }} 
      <span class="show-for-sr">{{ screenReaderPageLabel }}</span>            
    </a>            
    <span *ngIf="p.isFirstPage()">
        {{ previousLabel }} 
        <span class="show-for-sr">{{ screenReaderPageLabel }}
      </span>            
      </span>        
    </li>        
  <li [class.current]="p.getCurrent() === page.value" *ngFor="let page of p.pages">            
    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">                
        <span class="show-for-sr">{{ screenReaderPageLabel }} </span>                
        <span>
        {{ page.label }}</span>            
      </a>            
          <div *ngIf="p.getCurrent() === page.value">                
            <span class="show-for-sr">{{ screenReaderCurrentLabel }} </span>                
            <span>{{ page.label }}</span>             
        </div>        
    </li>        
    <li class="pagination-next" [class.disabled]="p.isLastPage()" *ngIf="directionLinks">            
    <a *ngIf="!p.isLastPage()" (click)="p.next()" [attr.aria-label]="nextLabel + ' ' + screenReaderPageLabel">                 
        {{ nextLabel }} 
      <span class="show-for-sr">{{ screenReaderPageLabel }}</span>            
      </a>            
      <span *ngIf="p.isLastPage()">                 
      {{ nextLabel }} 
       <span class="show-for-sr">{{ screenReaderPageLabel }}
        </span>            
      </span>        
    </li>    
  </ul>    
  </pagination-template>-->
