     <!-- Sidebar Links -->
<ul id="filters" class="collapse in list-unstyled smalltextbold textgray" style="margin-left:10px;">

  <!-- buttons -->
  <li style="margin-top:10px;">
    <div>
      <button class="btn btn-primary btn-sm smalltext" (click)="filtersSet()" [disabled]="categoryClicked == null && subcategoryClicked ==null  && stateClicked == null && placeClicked == null ">Search</button>
      <button class="btn btn-primary btn-sm smalltext" (click)="ClearAllFiltersAndGoBack()" [disabled]="filters == null">Clear</button>
    </div>
  </li>

  <!-- categories -->
  <li style="margin-top:10px;">


    <a class="gliphcat textgray" (click)="ClearCategories()">Category <span class="glyphicon glyphicon-chevron-up"></span></a> <!-- href="#categories" data-toggle="collapse"-->

    <ul id="categories" class="panel-collapse collapse in list-unstyled" style="margin-left:15px;">

      <!-- foreach category here -->
      <li *ngFor="let category of categories" class="inactiveli">
        <!--  id="liitem" -->

        <a (click)="CategoryClicked(category)" class="panel-title textlightcoral smalltextbold">
          <!-- data-toggle="collapse" href="#{{category.categoryDescription}}"-->
          <span>{{category.categoryDescription}}  <span class="caret"></span> </span>
        </a>

        <ul class="subul panel-collapse collapse list-unstyled" style="margin-left:15px;">
          <!-- id="{{category.categoryDescription}}" -->
          <!-- for each subcategories here -->
          <li *ngFor="let subcategory of category.subcategories" class="inactivesubli">
            <!-- id="subliitem" -->
            <a (click)="SubcategoryClicked(subcategory, category)" class="textoker smalltextbold"><span>{{subcategory.subcategoryDescription}}</span></a>
          </li>

        </ul>

      </li>

    </ul>
  </li>


  <!-- buttons -->
  <li style="margin-top:10px;">
    <div>
      <button class="btn btn-primary btn-sm smalltext" (click)="filtersSet()" [disabled]="categoryClicked == null && subcategoryClicked ==null  && stateClicked == null && placeClicked == null ">Search</button>
      <button class="btn btn-primary btn-sm smalltext" (click)="ClearAllFiltersAndGoBack()" [disabled]="filters == null">Clear</button>
    </div>
  </li>


  <!-- places -->
  <li style="margin-top:10px;">

    <a href="#places" data-toggle="collapse" class="gliphpla textgray" (click)="ClearPlaces()">Place  <span class="glyphicon glyphicon-chevron-up"></span></a>

    <ul id="places" class="panel-collapse collapse in list-unstyled" style="margin-left:15px;">
      <!-- foreach category here -->
      <li *ngFor="let state of states">
        <a data-toggle="collapse" href="#{{state.name}}" (click)="StateClicked(state)" class="panel-title textlightcoral smalltextbold">
          <span>{{state.name}}  <span class="caret"></span> </span>
        </a>

        <ul class="panel-collapse collapse list-unstyled" id="{{state.name}}" style="margin-left:15px;">
          <!-- for each subcategories here -->
          <li *ngFor="let place of state.places">
            <a (click)="PlaceClicked(place, state)" class="textoker smalltextbold"><span>{{place.name}}</span></a>
          </li>
        </ul>
      </li>
    </ul>

  </li>


  <!-- buttons -->
  <li style="margin-top:10px;">
    <div>
      <button class="btn btn-primary btn-sm smalltext" (click)="filtersSet()" [disabled]="categoryClicked == null && subcategoryClicked ==null  && stateClicked == null && placeClicked == null ">Search</button>
      <button class="btn btn-primary btn-sm smalltext" (click)="ClearAllFiltersAndGoBack()" [disabled]="filters == null">Clear</button>
    </div>
  </li>

</ul>