<div class="container col-md-12">

  <div class="row">

    <!-- States -->
    <div class="col-md-4 col-md-offset-1 panel panel-heading footerdiv">

      <div class="states collapsed col-md-6" data-toggle="collapse" data-target="#collapseStates">
        <span class="glyphicon glyphicon-minus"></span><span class="textlightcoral smalltext text-uppercase"> States</span>
      </div>

      <div class="smalltextbold col-md-6" style="text-align:right;z-index:1100;">
        State:
        <select id="state" name="state" class="smalltextbold" style="background-color:moccasin;" (change)="onViewStateChange($event)">
          <option></option>
          <option *ngFor="let geodata of states" [ngValue]="geodata">
            {{ geodata.state }}
          </option>
        </select>
      </div>

      <div class="colapse in col-md-12" id="collapseStates" style="margin-top:20px;">

        <div *ngIf="!isStateAddOn && !isStateEditOn" class="col-md-12">

          <div class="col-md-12">
            <div class="col-md-4"><a (click)="onStateAddClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-plus-sign"></i> Add </a></div>
            <div class="col-md-4"><a (click)="onStateEditClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-edit"></i> Edit </a></div>
            <div class="col-md-4"><a data-target="#removeState" data-toggle="modal" (click)="onStateDeleteClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-erase"></i> Delete </a></div>
          </div>


          <div *ngIf="states !== null" class="col-md-12" style="margin-top:20px;">

            <div class="row">
              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Id:<span class="text-info"> {{ stateInView.id}}</span>
              </div>

              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Name:<span class="text-info"> {{ stateInView.state}}</span>
              </div>
            </div>
          </div>

        </div>


        <div *ngIf="isStateAddOn || isStateEditOn" class="row col-md-12">


          <form novalidate [formGroup]="stateForm" (submit)="onSubmitStateAddUpdate()">

            <div class="col-md-10 col-md-offset-2">
              <div class="form-group smalltextbold col-md-12" style="height:70px;">
                Name:             
                <input type="text" formControlName="name" id="name" name="name" required class="form-control smalltext" style="background-color:moccasin" />             
                <control-messages [control]="stateForm.controls.name"></control-messages>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-2 panel panel-heading" style="height:70px;margin-top:10px;">
              <div class="col-md-6">
                <button id="statecancel" class="btn btn-warning text-uppercase smalltext" style="width:auto; height:30px;" (click)="onStateAddEditCancel()">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                </button>
              </div>

              <div class="col-md-6" style="text-align:left;">
                <button id="statesave" class="btn btn-success text-uppercase smalltext" type="submit" [disabled]="!stateForm.valid" style="width:auto; height:30px;">
                  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                  Save
                </button>
              </div>
            </div>


          </form>

        </div>

      </div>


    </div>


    <!--  Places-->
    <div class="col-md-5 col-md-offset-1 panel panel-heading footerdiv">

      <div class="places collapsed col-md-5" data-toggle="collapse" data-target="#collapsePlaces">
        <span class="glyphicon glyphicon-minus"></span><span class="textlightcoral smalltext text-uppercase"> Places</span>
      </div>

      <!-- drop down -->
      <div class="smalltextbold col-md-7" style="text-align:right;z-index:1100;">
        Places:
        <select id="place" name="place" class="smalltextbold" style="background-color:moccasin;" (change)="onViewPlaceChange($event)">
          <option></option>
          <option *ngFor="let geodata of places" [ngValue]="geodata">
            {{ geodata.place }}
          </option>
        </select>
      </div>


      <div class="colapse in col-md-12" id="collapsePlaces" style="margin-top:20px;">

        <div *ngIf="!isPlaceAddOn && !isPlaceEditOn" class="col-md-12">

          <div class="col-md-12">
            <div class="col-md-4"><a (click)="onPlaceAddClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-plus-sign"></i> Add </a></div>
            <div class="col-md-4"><a (click)="onPlaceEditClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-edit"></i> Edit </a></div>
            <div class="col-md-4"><a data-target="#removePlace" data-toggle="modal" (click)="onPlaceDeleteClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-erase"></i> Delete </a></div>
          </div>

          <div *ngIf="places !== null" class="col-md-12" style="margin-top:20px;">

            <div class="row">

              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Id: <span class="text-info"> {{ placeInView.id}}</span>
              </div>

              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Place:<span class="text-info"> {{ placeInView.place}}</span>
              </div>


            </div>
          </div>
        </div>


        <div *ngIf="isPlaceAddOn || isPlaceEditOn" class="row col-md-12">

          <form novalidate [formGroup]="placeForm" (submit)="onSubmitPlaceAddUpdate()">
        
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group smalltextbold col-md-12" style="height:70px;">
                Name:              
                <input type="text" formControlName="name" id="name" name="name" required class="form-control smalltext" style="background-color:moccasin" />               
                <control-messages [control]="placeForm.controls.name"></control-messages>
              </div>
            </div>


            <div class="col-md-6 col-md-offset-3 panel panel-heading" style="height:70px;margin-top:10px;">
              <div class="col-md-6">
                <button id="placecancel" class="btn btn-warning text-uppercase smalltext" style="width:auto; height:30px;" (click)="onPlaceAddEditCancel()">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                </button>
              </div>

              <div class="col-md-6" style="text-align:left;">
                <button id="placesave" class="btn btn-success text-uppercase smalltext" type="submit" [disabled]="!placeForm.valid" style="width:auto; height:30px;">
                  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                  Save
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>


    </div>

  </div>



  <div class="row">

    <!-- Postcodes -->
    <div class="col-md-4 col-md-offset-1 panel panel-heading footerdiv">

      <div class="postcodes collapsed col-md-6" data-toggle="collapse" data-target="#collapsePostcodes">
        <span class="glyphicon glyphicon-minus"></span><span class="textlightcoral smalltext text-uppercase"> Postcodes</span>
      </div>

      <div class="smalltextbold col-md-6" style="text-align:right;z-index:1100;">
        Number:
        <select id="postcode" name="postcode" class="smalltextbold" style="background-color:moccasin;" (change)="onViewPostcodeChange($event)">
          <option></option>
          <option *ngFor="let geodata of postcodes" [ngValue]="geodata">
            {{ geodata.postcode }}
          </option>
        </select>
      </div>

      <div class="colapse in col-md-12" id="collapsePostcodes" style="margin-top:20px;">

        <div *ngIf="!isPostcodeAddOn && !isPostcodeEditOn" class="col-md-12">

          <div class="col-md-12">
            <div class="col-md-4"><a (click)="onPostcodeAddClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-plus-sign"></i> Add </a></div>
            <div class="col-md-4"><a (click)="onPostcodeEditClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-edit"></i> Edit </a></div>
            <div class="col-md-4"><a data-target="#removePostcode" data-toggle="modal" (click)="onPostcodeDeleteClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-erase"></i> Delete </a></div>
          </div>


          <div *ngIf="postcodes !== null" class="col-md-12" style="margin-top:20px;">

            <div class="row">
              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Id:<span class="text-info"> {{ postcodeInView.id}}</span>
              </div>

              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Number:<span class="text-info"> {{ postcodeInView.postcode}}</span>
              </div>
            </div>
          </div>

        </div>


        <div *ngIf="isPostcodeAddOn || isPostcodeEditOn" class="row col-md-12">


          <form novalidate [formGroup]="postcodeForm" (submit)="onSubmitPostcodeAddUpdate()">

            <div class="col-md-10 col-md-offset-2">
              <div class="form-group smalltextbold col-md-12" style="height:70px;">
                Number:               
                <input type="text" formControlName="number" id="number" name="number" required class="form-control smalltext" style="background-color:moccasin" />               
                <control-messages [control]="postcodeForm.controls.number"></control-messages>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-2 panel panel-heading" style="height:70px;margin-top:10px;">
              <div class="col-md-6">
                <button id="postcodecancel" class="btn btn-warning text-uppercase smalltext" style="width:auto; height:30px;" (click)="onPostcodeAddEditCancel()">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                </button>
              </div>

              <div class="col-md-6" style="text-align:left;">
                <button id="postcodesave" class="btn btn-success text-uppercase smalltext" type="submit" [disabled]="!postcodeForm.valid" style="width:auto; height:30px;">
                  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                  Save
                </button>
              </div>
            </div>


          </form>

        </div>

      </div>


    </div>


    <!--  Suburbs-->
    <div class="col-md-5 col-md-offset-1 panel panel-heading footerdiv">

      <div class="suburbs collapsed col-md-6" data-toggle="collapse" data-target="#collapseSuburbs">
        <span class="glyphicon glyphicon-minus"></span><span class="textlightcoral smalltext text-uppercase"> Suburbs</span>
      </div>

      <!-- drop down -->
      <div class="smalltextbold col-md-6" style="text-align:right;z-index:1100;">
        Suburb:
        <select id="suburb" name="suburb" class="smalltextbold" style="background-color:moccasin;" (change)="onViewSuburbChange($event)">
          <option></option>
          <option *ngFor="let geodata of suburbs" [ngValue]="geodata">
            {{ geodata.suburb }}
          </option>
        </select>
      </div>


      <div class="colapse in col-md-12" id="collapseSuburbs" style="margin-top:20px;">

        <div *ngIf="!isSuburbAddOn && !isSuburbEditOn" class="col-md-12">

          <div class="col-md-12">
            <div class="col-md-4"><a (click)="onSuburbAddClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-plus-sign"></i> Add </a></div>
            <div class="col-md-4"><a (click)="onSuburbEditClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-edit"></i> Edit </a></div>
            <div class="col-md-4"><a data-target="#removeSuburb" data-toggle="modal" (click)="onSuburbDeleteClick()" class="textoker smalltext text-uppercase"><i class="glyphicon glyphicon-erase"></i> Delete </a></div>
          </div>

          <div *ngIf="suburbs !== null" class="col-md-12" style="margin-top:20px;">

            <div class="row">

              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Id: <span class="text-info"> {{ suburbInView.id}}</span>
              </div>

              <div class="row mediumtext panel panel-heading col-md-12" style="height:50px;">
                Name:<span class="text-info"> {{ suburbInView.suburb}}</span>
              </div>


            </div>
          </div>
        </div>


        <div *ngIf="isSuburbAddOn || isSuburbEditOn" class="row col-md-12">

          <form novalidate [formGroup]="suburbForm" (submit)="onSubmitSuburbAddUpdate()">

            <div class="col-md-6 col-md-offset-3">
              <div class="form-group smalltextbold col-md-12" style="height:70px;">
                Name:               
                <input type="text" formControlName="name" id="name" name="name" required class="form-control smalltext" style="background-color:moccasin" />              
                <control-messages [control]="placeForm.controls.name"></control-messages>
              </div>
            </div>


            <div class="col-md-6 col-md-offset-3 panel panel-heading" style="height:70px;margin-top:10px;">
              <div class="col-md-6">
                <button id="suburbcancel" class="btn btn-warning text-uppercase smalltext" style="width:auto; height:30px;" (click)="onSuburbAddEditCancel()">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
                </button>
              </div>

              <div class="col-md-6" style="text-align:left;">
                <button id="suburbsave" class="btn btn-success text-uppercase smalltext" type="submit" [disabled]="!suburbForm.valid" style="width:auto; height:30px;">
                  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                  Save
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>


    </div>

  </div>

</div>


<my-spinner [isRunning]="isRequesting"></my-spinner>


<!--      /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
<!-- State Remove-->
<div class="modal fade" id="removeState" tabindex="-1" role="dialog" aria-labelledby="RemoveState" style="z-index:1800;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>Are you sure you want to delete this state?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="onSubmitDeleteState(stateToRemove)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>


<!--      /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
<!-- Place Remove-->
<div class="modal fade" id="removePlace" tabindex="-1" role="dialog" aria-labelledby="RemovePlace" style="z-index:1801;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>Are you sure you want to delete this place?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="onSubmitDeletePlace(placeToRemove)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>



<!--      /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
<!-- Postcode Remove-->
<div class="modal fade" id="removePostcode" tabindex="-1" role="dialog" aria-labelledby="RemovePostcode" style="z-index:1800;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>Are you sure you want to delete this postcode?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="onSubmitDeletePostcode(postcodeToRemove)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>


<!--      /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
<!-- Suburb Remove-->
<div class="modal fade" id="removeSuburb" tabindex="-1" role="dialog" aria-labelledby="RemoveSuburb" style="z-index:1801;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4 class="text-warning"><span><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;Remove Warning!</h4>
      </div>

      <div class="modal-body text-warning">
        <p>Are you sure you want to delete this suburb?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success" (click)="onSubmitDeleteSuburb(suburbToRemove)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

