 
/*:host /deep/ 
.mydp .headermonthtxt, 
.mydp .headeryeartxt {   
    text-align: center;
    width: 40px;
    max-width: 40px;   
}


:host /deep/
.mydp .headerlabelbtn {
    font-size: 14px;
    outline: 0;
    cursor: default;
     width: 40px;
    max-width: 40px;   
}*/

