   @import "~@angular/material/prebuilt-themes/indigo-pink.css";   // TODO  this prebuilt material theme, question will we use it????

    body {
    margin: 2em;
  }

  body, input[text], button {
    color: #888;
    font-family: Verdana, Cambria, Georgia;
  }