<div *ngIf="!isSubmited" class="container col-md-12">

  <div class="row">
    <div class="col-md-3 panel panel-heading footerdiv">

      <div class="panel panel-heading col-md-12 mediumtext">
        From:<span class="text-uppercase text-info smalltext"> {{ loggedOnTraderPersonal.firstName }} {{ loggedOnTraderPersonal.middleName }}  {{ loggedOnTraderPersonal.lastName }} </span>
      </div>

      <div class="panel panel-heading col-md-12 mediumtext">
        To:<span class="text-uppercase text-info smalltext"> {{ actualTrade.traderFirstName }} {{ actualTrade.traderMiddleName }}  {{ actualTrade.traderLastName }}</span>
      </div>

      <div class="panel panel-heading col-md-12 mediumtext">
        About Trade:<span class="text-uppercase text-info smalltext"> {{ actualTrade.name }}</span>
      </div>

      <div class="panel panel-heading col-md-12 mediumtext">
        With Category:<span class="text-uppercase text-info smalltext"> {{ actualTrade.categoryDescription }}</span>
      </div>

      <div class="panel panel-heading col-md-12 mediumtext">
        Published On:<span class="text-uppercase text-info smalltext"> {{ actualTrade.datePublished | date }}</span>
      </div>  
    
    </div>



    <div id="writeMessage" class="row col-md-8 col-md-offset-1">

          <form [formGroup]="addCorresForm" (submit)="sendRequest()">

                    <div class="panel panel-heading col-md-12 footerdiv">
                      <input type="text" formControlName="message" id="message" name="message" required class="form-control smalltextbold" style="background-color:moccasin;width:inherit;" spellcheck="true" maxlength="70" placeholder="Write your subject here..." />
                      <control-messages [control]="addCorresForm.controls.message"></control-messages>
                    </div>

                    <div class="panel panel-heading col-md-12 footerdiv">            
                        <textarea formControlName="content" id="content" required class="form-control smalltextbold" style="background-color:moccasin;width:inherit;"
                                            rows="7" spellcheck="true" maxlength="500" placeholder="Write your message here..."></textarea>
                        <control-messages [control]="addCorresForm.controls.content"></control-messages>       
                       <span id="characterCount" class="smalltext textgray"></span>       
                    </div>

                    <div class="col-md-5">
                      <button id="Send" class="btn btn-success smalltext" type="submit" style="width:auto; height:auto;" value="Send" [disabled]="!addCorresForm.valid">Send</button>
                    </div>

          </form>

    </div>
  </div>

</div>



<my-spinner [isRunning]="isRequesting"></my-spinner>



<!-- submitted section -->
<div  *ngIf="isSubmited">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-heading textgray mediumtext">
        A request has been successfully sent to the trader: 
        <a [routerLink]="['/traderdetails']" [queryParams]="{id: actualTrade.traderId}">
        <span class="text-uppercase smalltext textoker"> <i>{{ actualTrade.traderFirstName }} {{ actualTrade.traderMiddleName }}  {{ actualTrade.traderLastName }}</i></span>
        </a>
      
        <ul>
          <li> Use your correspondence to check for reply mail later. </li>
          <li> Use the trader details functionality to find out more about the trader.</li>
          <li> Check the trader history to check for successful trade's trades.</li>
        </ul>
      </div>
    </div>  
  </div>                  

</div>