:host /deep/ .ngx-pagination li {
     font-family:Verdana;
     font-size:small;
     font-weight:bold;
}

:host /deep/ .ngx-pagination a,  .ngx-pagination button {  
      color:lightgreen;
      display: block;    
      padding: 0.1875rem 0.625rem;
      border-radius: 0;
}





